@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.bedNumber {
  @include type.type-style('heading-compact-01');
  border-radius: 50%;
  background-color: $color-blue-10;
  color: $color-blue-60-2;
  padding: spacing.$spacing-04;
  width: spacing.$spacing-03;
  height: spacing.$spacing-03;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waitingForItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-right: spacing.$spacing-03;
}

.hourGlassIcon {
  padding: spacing.$spacing-02;
  padding-right: 0;
  border-radius: 50%;
  fill: $ui-03;
  background-color: colors.$gray-80;
}

.movementIcon {
  padding: spacing.$spacing-02;
  border-radius: 50%;
  fill: $ui-03;
  background-color: $color-blue-60-2;
  margin-right: spacing.$spacing-02;
}

.chemistryReferenceIcon {
  padding: spacing.$spacing-02;
  border-radius: 50%;
  fill: colors.$red-20;
  background-color: colors.$red-70;
  margin-right: spacing.$spacing-02;
}
