@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  padding-bottom: 2rem;
  background-color: $ui-01;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.heading {
  @include type.type-style('heading-03');
}

.filterContainer {
  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }
}

.tooltip :global(.cds--tooltip__trigger.cds--tooltip__trigger--definition) {
  border-bottom: none;
}

.tag {
  margin: 0.25rem 0;
}

.priorityTag {
  @extend .tag;
  @include type.type-style('label-01');
  color: #943d00;
  background-color: #ffc9a3;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.search {
  max-width: 16rem;

  input {
    background-color: $ui-02 !important;
    // height: 2rem !important;
  }
}

.tableContainer {
  background-color: $ui-01;
  margin: 0 spacing.$spacing-05;
  padding: 0;

  a {
    text-decoration: none;
  }

  th {
    color: $text-02;
  }

  :global(.cds--data-table) {
    background-color: $ui-03;
  }

  .toolbarContent {
    height: spacing.$spacing-07;
    margin-bottom: spacing.$spacing-02;
  }
}

.emptyRow {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.activeVisitsTable tr:last-of-type {
  td {
    border-bottom: none;
  }
}

.expandedActiveVisitRow {
  :global(.cds--tab-content) {
    padding: 0.5rem 0;
  }

  td {
    padding: 0.5rem;

    > div {
      max-height: max-content !important;
      background-color: $ui-02;
    }
  }

  th[colspan] td[colspan] > div:first-child {
    padding: 0 1rem;
  }
}

.hiddenRow {
  display: none;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.separator {
  @include type.type-style('body-compact-02');
  color: $text-02;
  width: 80%;
  margin: 1.5rem auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: $text-03;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5rem;
    margin-left: -50%;
  }

  &::after {
    left: 0.5rem;
    margin-right: -50%;
  }
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem {
  max-width: none;
}

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-05;

  h4:after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 3px;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.statusContainer {
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }
}

.visitType {
  @include type.type-style('heading-compact-02');
}

.headerBtnContainer {
  background-color: $ui-background;
  padding: spacing.$spacing-05;
  text-align: right;
}
