@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.container {
  padding-bottom: 2rem;
  background-color: $ui-01;
}

.activeVisitsTableContainer {
  width: 100%;
  height: 100%;
}

.activeVisitsTableHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.heading {
  @include carbon--type-style('productive-heading-03');
  color: $text-01;
}

.switcherContainer {
  display: flex;
  align-items: center;
}

.switcherContainer :global(.bx--content-switcher) {
  align-items: center;
  margin-left: 0.5rem;
}

.switch {
   width: 7.875rem;
   height: 2rem;
}

.tooltip :global(.bx--tooltip__trigger.bx--tooltip__trigger--definition) {
  border-bottom: none;
}

.tag {
  margin: 0.25rem 0;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.contentSwitcherLabel {
  @include carbon--type-style("label-01");
  color: $text-02;
}

.tableContainer {
  margin: 0 1rem;
  padding: 0;
  border: 1px solid $ui-03;
}

.tableContainer a {
  text-decoration: none;
}

.emptyRow {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.activeVisitsTable tr:last-of-type {
  td {
    border-bottom: none;
  }
}

.expandedActiveVisitRow > td > div {
  max-height: max-content !important;
}

.expandedActiveVisitRow td {
  padding: 0 2rem;
}

.expandedActiveVisitRow th[colspan] td[colspan] > div:first-child {
  padding: 0 1rem;
}

.hiddenRow {
  display: none;
}

.content {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-bottom: 0.5rem;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.menuItem {
  max-width: none;
}

.desktopHeading {
  h4 {
    @include carbon--type-style('productive-heading-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include carbon--type-style('productive-heading-03');
    color: $text-02;
  }
}

.desktopHeading, .tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: $spacing-05;
  
  h4:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 3px;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}
