@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.radioButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: $spacing-03;
  min-height: $spacing-10;
  width: 100%;
  @include carbon--type-style('body-short-01');
  color: $text-01;
}

.radioButton {
  padding: $spacing-02 $spacing-05;
  margin: $spacing-03 0;
}
