@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.metricsContainer {
  display: flex;
  justify-content: space-between;
  background-color: $ui-02;
  height: layout.$spacing-10;
  align-items: center;
  padding: 0 layout.$spacing-05;
}

.metricsTitle {
  @include type.type-style('heading-03');
  color: $ui-05;
}

.actionBtn {
  display: flex;
  column-gap: 0.5rem;
}

.comboBtn {
  cursor: default;
}
