@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.workLoadCard {
  display: flex;
  color: colors.$black;
}

.dowCell {
  flex: 1;
  height: layout.$spacing-08;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$white;
  border: 1px solid colors.$gray-20;
  border-right: none;
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;

  &:last-child {
    border-right: 1px solid colors.$gray-20;
  }
}
