@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.padded {
  padding: spacing.$spacing-05;
}

.searchBarWrapper {
  [data-extension-id='patient-search-bar'] {
    & > div {
      width: 100%;

      & input {
        background-color: $ui-02;
        border-bottom: none;
        min-height: spacing.$spacing-09;
      }

      & button {
        height: 3rem;
      }
    }
  }
}
