@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.padded {
  padding: layout.$spacing-05;
}

.searchBarWrapper {
  [data-extension-id='patient-search-bar'] {
    & > div {
      width: 100%;

      & input {
        background-color: $ui-02;
        border-bottom: none;
        min-height: layout.$spacing-09;
      }

      & button {
        height: layout.$spacing-09;
      }
    }
  }
}
