@use '@carbon/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.tileContainer {
  background-color: white;
  border: 0.0625rem solid #e0e0e0;
  height: 7.875rem;
  padding: 1rem;
  margin: 0.5rem 0.5rem;
}

.tileHeader {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.28572;
  letter-spacing: 0.16px;
  color: #525252;
}

.displayDetails {
  margin-top: 1.5rem;
}

.displayData {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.28572;
  letter-spacing: 0;
  color: #161616;
}

.countLabel {
  @include type.type-style('label-01');
  color: $text-02;
}
