@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.cardContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: layout.$spacing-09;
  align-items: flex-start;
  justify-content: flex-end;
  padding: layout.$spacing-05 0;
}

.cardContainer > * {
  min-width: 8rem;
}
