@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tileContainer {
  background-color: transparent;
  padding: 0;
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: layout.$spacing-02;
}

.headerLabelContainer {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $interactive-01;

  svg {
    margin-left: layout.$spacing-03;
  }
}

.headerLabel {
  @include type.type-style('body-compact-02');
  color: $text-02;
}

.metricsContainer {
  display: flex;
  gap: layout.$spacing-07;
  align-items: stretch;
  flex-wrap: wrap;
}

.metricItem {
  display: inline-block;
  flex-direction: column;
}

.metricLabel {
  @include type.type-style('label-01');
  color: $text-02;
  margin-bottom: layout.$spacing-02;
}

.metricValue {
  @include type.type-style('heading-03');
  color: $ui-05;
  margin: 0;
}

.mainItem {
  flex: 1;
}

.smallItem {
  flex-direction: row;
}

.smallValue {
  font-size: 1rem !important;
  margin-top: layout.$spacing-02;
}

.red {
  color: colors.$red-50;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .link {
    svg {
      margin-right: layout.$spacing-03;
      margin-left: unset;
      transform: scale(-1, 1);
    }
  }
}
