@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.wrapper {
  position: relative;
}
.monthlyCalendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0px, 1fr));
  grid-auto-rows: minmax(0, 1fr);

  :global(.cds--popover-container) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.calendarViewContainer {
  margin: 0 layout.$spacing-05 layout.$spacing-05;
  background-color: colors.$gray-10;
}

.backgroundColor {
  margin: 1px 0 0;
  transition: width 0.24s ease-in-out;
  position: relative;
  min-height: calc(100vh - 80px);
  background-color: colors.$gray-10;
}
