@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.searchArea {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patientSearchInput {
  border: none;
}
