@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.searchArea {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ui-04;
}

.patientSearchInput {
  border: none;
}

.patientSearchInput input:focus {
  outline: 1px solid $carbon--orange-40;
}
