@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkPlaceholder ::placeholder {
  color: #393939 !important;
}
