@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../root.scss';

.actionableNotification {
  z-index: 1000;
  position: fixed;
  width: 100%;
  bottom: spacing.$spacing-07;
}
