@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.emptyStateTile {
  text-align: center;
  padding: layout.$spacing-05;
}

.desktopTile {
  border-bottom: 1px solid $ui-03;
}

.illustration {
  margin-top: layout.$spacing-05;
  display: flex;
  justify-content: center;
}

.content {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.helperText {
  @include type.type-style('body-01');
  color: $text-02;
  margin-bottom: layout.$spacing-05;
}

.action {
  display: flex;
  justify-content: center;
}
