@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.patientSearchResult,
.deceased.patientSearchResult {
  color: unset !important;
  margin: unset !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid $ui-03;
  padding: 0rem spacing.$spacing-05;

  &:hover,
  &:focus {
    background-color: $ui-01;
    border: 0;
    outline: 0;
  }
}

.patientSearchResultButton {
  background: none;
  cursor: pointer;
  width: 100%;
  height: auto !important;
}

.patientBanner {
  display: flex;
}

.patientName {
  @include type.type-style('heading-02');
  color: $text-02;
  margin-right: spacing.$spacing-02;
}

.patientAvatar {
  width: spacing.$spacing-09;
  height: spacing.$spacing-09;
  margin: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-03 0;
  border-radius: 1px;
  font-weight: unset;
  line-height: unset;
}

.patientInfo {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: spacing.$spacing-05;
  cursor: pointer;
}

.demographics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: spacing.$spacing-02;
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.identifier {
  margin: 0rem spacing.$spacing-03;
}

.identifiers {
  @include type.type-style('body-compact-02');
  color: $ui-04;
}

.actionsContainer {
  padding-top: spacing.$spacing-03;
  margin-top: spacing.$spacing-05;
}

.middot {
  margin: 0 0.25rem;
}

.configuredTag {
  margin: spacing.$spacing-01 spacing.$spacing-03;
}

.configuredLabel {
  @include type.type-style('label-01');
  color: $ui-05;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.skeletonIcon {
  height: 3rem;
  width: 3rem;
}
