@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.patientSearchResult,
.deceased.patientSearchResult {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid $ui-03;

  &:hover,
  &:focus {
    background-color: $ui-01;
  }
}

.patientSearchResultButton {
  background: none;
  cursor: pointer;
  width: 100%;
}

.patientAvatar {
  width: 3.5rem;
  height: 3.5rem;
  margin: layout.$spacing-05;
  border-radius: 1px;
}

.skeletonIcon {
  height: 3.5rem;
  width: 3.5rem;
}

.patientInfoWithButton {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.addToListButtonContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.addToListButton {
  font-size: 0.75rem;
  min-height: 2rem;
  max-width: fit-content;
}
