@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.searchResultsContainer {
  width: 100%;
  background-color: $ui-02;

  a {
    text-decoration: none;
    @include type.type-style('heading-02');
    color: $text-02;
    margin: 0rem;
  }
}

:global(.omrs-breakpoint-lt-desktop) .searchResultsContainer {
  top: 6.25rem;
}

:global(.omrs-breakpoint-gt-tablet) .searchResultsContainer {
  padding: 0;
  top: spacing.$spacing-09;
}

.searchResults {
  width: 100%;
}

.loadingIcon {
  padding: spacing.$spacing-05 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchTerm {
  @include type.type-style('heading-03');
  margin-top: 0.375rem;
}

.resultsText {
  @include type.type-style('label-01');
  color: $text-02;
  line-height: spacing.$spacing-05;
  margin: spacing.$spacing-03 spacing.$spacing-05;
}

.helperText {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 2.375rem;
}

.emptyResultText {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: 0.313rem;
}

.actionText {
  @include type.type-style('body-01');
  color: $text-02;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 4.688rem 0 spacing.$spacing-06;
}

.emptySearchResultsTile {
  text-align: center;
  margin-top: spacing.$spacing-05;
  padding: spacing.$spacing-09 0rem;
}

:global(.omrs-breakpoint-gt-tablet) .emptySearchResultsTile {
  margin: spacing.$spacing-05;
}

.errorMessage {
  @include type.type-style('heading-compact-02');
  margin-top: 2.25rem;
  margin-bottom: spacing.$spacing-03;
}

.errorCopy {
  margin-bottom: spacing.$spacing-03;
  @include type.type-style('body-01');
  color: $text-02;
}
