@import '../../root.scss';

.header {
  @include carbon--type-style('productive-heading-02');
  margin-bottom: $spacing-05;
}

.input {
  margin-top: $spacing-07;
}

.buttonsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
