@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  margin: 0 layout.$spacing-05 layout.$spacing-05;
  border: 1px solid colors.$gray-20;
  background: colors.$white;
  overflow-x: auto;
}

.dayBody {
  --hour-height: 8rem;
}

.tableOverlay {
  border-top: 1px solid #e0e0e0;
}

.tableToolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-bottom: 1px solid #e0e0e0;
  background: #f4f4f4;
}

.tableHeading {
  font-size: 16px;
  font-weight: 600;
  color: #525252;
  white-space: nowrap;
}
