@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.heading {
  @include carbon--type-style('productive-heading-01');
  color: $text-02;
}

.container {
  background-color: $color-blue-10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid $carbon--blue-20;
  margin-top: $spacing-01;

  & > div {
    margin-left: $spacing-05;
    padding-top: $spacing-01;
  }

  & > div:first-child {
    border-right: 1px solid $carbon--blue-20;
  }

  & ul > li {
    padding: $spacing-02 0;
    color: $text-02;
    @include carbon--type-style('body-short-01');
  }
}
