@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.cardContainer {
  background-color: colors.$white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: layout.$spacing-05;
  margin: layout.$spacing-05;
}
