@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.metricsContainer {
  display: flex;
  justify-content: space-between;
  background-color: $ui-02;
  height: layout.$spacing-10;
  align-items: center;
  padding: 0 layout.$spacing-05;
}

.metricsTitle {
  @include type.type-style('heading-03');
  color: $ui-05;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.viewListBtn {
  margin: 0 0 0 layout.$spacing-03;
}

.metricsContent {
  display: flex;
  align-items: center;
  gap: layout.$spacing-05;
}
