@import '../../root.scss';

title {
  width: 6.938rem;
  height: 1.75rem;
  margin: 0.438rem 22.875rem 0.813rem 0;
  font-family: IBMPlexSans;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.link {
  text-decoration: none;
}

.patientListListPage {
  display: flex;
}

.breadcrumbsSlot {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.patientListList {
  height: 100%;
  width: 100%;
  background-color: $ui-02;
}

.patientListHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: $spacing-05;
}

.newListButton {
  width: fit-content;
  justify-self: end;
  align-self: center;
}

.tabs {
  grid-column: 'span 2';
  padding: 0 $spacing-05;
}

.hiddenTabsContent, .tabs .hiddenTabsContent {
  display: none;
}

.patientListTableContainer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  height: 100%;
  padding: $spacing-05;
  background-color: $ui-01;
}

// Patient List Table

.searchContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.searchContainer > div {
  align-self: center;
  justify-self: flex-end;
}

.search {
  width: 100%;
  max-width: 16rem;
  background-color: $ui-02;
  border-bottom-color: $ui-03;
}

.tableBody {
  background-color: $ui-01;
}

.tableCell, .interactiveText01 {
  color: $interactive-01;
}

.desktopRow, .desktopHeader {
    height: $spacing-07 !important;
}

.tabletRow, .tabletHeader {
    height: $spacing-09 !important;
}

// Search Overlay

.searchOverlay {
  z-index: 1;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: $ui-04;
  opacity: 0.7;
}

.patientListResultsContainer {
  z-index: 1;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: $ui-01;
  padding: $spacing-05;
}

// Results Overlay

.resultCount {
  @include carbon--type-style('body-short-01');
  color: $text-02;
  border-bottom: solid 1px #e0e0e0;
  padding: $spacing-04 0;
}

.patientListResultsTableContainer {
  margin: $spacing-03;
}

