@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.errorState {
  margin: layout.$spacing-05;
}

.emptyState {
  border: 1px solid $ui-03;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: layout.$spacing-05;
  padding: layout.$spacing-09;
  text-align: center;
}

.emptyStateContent {
  @include type.type-style('heading-compact-01');
  color: var(--cds-text-secondary);
  margin-top: layout.$spacing-05;
}

.gridFlow {
  display: flex;
  flex-direction: row;
  padding: layout.$spacing-07;
  flex-wrap: wrap;
}

.card {
  border-radius: 0.9rem;
  border: 1px solid #343332;
  margin: layout.$spacing-06;
  padding: 1.3rem;
  width: 30%;
  text-align: center;
  justify-content: center;
}

.header {
  font-size: layout.$spacing-07;
  font-weight: bold;
  color: black;
}

.headerBlinking {
  font-size: layout.$spacing-07;
  font-weight: bold;
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.subheader {
  font-size: medium;
}
