@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.admissionRequestsWorkspaceContainer {
  min-height: var(--desktop-workspace-window-height);
}
.admissionRequestsWorkspace {
  padding: spacing.$spacing-04;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}
