@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.admissionRequestCard {
  background-color: $ui-01;
  padding: spacing.$spacing-03;
  border: 1px solid $ui-03;
  height: fit-content;
  color: $color-gray-70;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > :not(:first-child) {
    border-top: 1px colors.$gray-20 solid;
  }
}

.patientName,
.patientGender,
.patientAge {
  @include type.type-style('heading-01');
}

.patientName {
  color: $color-gray-100;
}

.time,
.city,
.ward {
  @include type.type-style('body-compact-01');
}
