@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

actionBtn {
  --cds-layout-size-height-context: var(--cds-layout-size-height-sm, 2rem);
  --cds-layout-size-height: var(--cds-layout-size-height-context);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 spacing.$spacing-04;
}
