@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.admissionRequestsContainer {
  background-color: $color-gray-70;
  display: flex;
  align-items: center;
  padding: spacing.$spacing-02 0 spacing.$spacing-02 spacing.$spacing-04;
  background-color: #393939;

  & > button {
    color: #78a9ff;

    svg {
      fill: #78a9ff !important;
    }
  }
}

.movementIcon {
  padding: spacing.$spacing-02;
  border-radius: 50%;
  fill: $ui-03;
  background-color: $color-blue-60-2;
  margin-right: spacing.$spacing-03;
}

.content {
  @include type.type-style('heading-compact-01');
  color: $ui-02;
  margin-right: spacing.$spacing-03;
}
