@use '@carbon/styles/scss/spacing';
@use '@carbon/type';

.wardViewHeader {
  margin: spacing.$spacing-05 0;
  display: flex;
  align-items: center;
}

.location {
  @include type.type-style('heading-02');
  flex-grow: 1;
}
