@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.advancedPatientSearchDesktop {
  display: flex;
  justify-content: space-between;
  padding: 0 spacing.$spacing-05;
}

.advancedPatientSearchTabletOrOverlay {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - 9rem - 3px);
  overflow-y: hidden;
}

.refineSearchDesktop {
  margin-right: spacing.$spacing-09;
  width: 16rem;
}

.patientSearchResultsDesktop {
  min-width: 37.5rem;
  margin-right: 4rem;
}

.patientSearchResultsTabletOrOverlay {
  width: 100%;
  overflow-y: auto;
}

:global(.omrs-breakpoint-lt-desktop) .advancedPatientSearchTabletOrOverlay {
  height: calc(100vh - 6rem - 2px);
}
