@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.refineSeachContainer {
  h2 {
    margin: layout.$spacing-03 0;
  }
}

.field {
  margin-bottom: layout.$spacing-05;

  input {
    min-width: unset !important;
  }
}

.fieldTabletOrOverlay {
  margin-bottom: layout.$spacing-07;

  input {
    min-width: unset !important;
  }
}

.dobFields {
  display: grid;
  grid-template-columns: 1fr 1fr 1.25fr;
  grid-gap: layout.$spacing-03;
  input {
    min-width: unset !important;
    padding-right: layout.$spacing-02 !important;
  }
}

.button {
  width: 100%;
  max-width: unset;
}

.refineSearchBanner {
  padding: layout.$spacing-03 layout.$spacing-05;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a3f;

  p {
    color: $ui-02;
  }
}

.padded {
  padding: 0 layout.$spacing-05;
}

.refineSearchDialogOpener {
  color: $inverse-link;
}

.refineSearchDialogContainer {
  position: absolute;
  top: layout.$spacing-09;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #393939cc;
  z-index: 99;
}

.refineSearchDialog {
  background-color: $ui-02;
  width: 100%;
}

.refineSearchDialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-03 0 layout.$spacing-03 layout.$spacing-05;
  margin-bottom: layout.$spacing-05;
}

.refineSearchDialogGenderSexRow {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-gap: layout.$spacing-11;
  padding: 0 layout.$spacing-05;
}

.labelText {
  margin-bottom: layout.$spacing-03;
}

.phoneLastVisitRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: layout.$spacing-11;
  padding: 0 layout.$spacing-05;
}

.phonePostcode {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: layout.$spacing-05;
}

.buttonSet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: layout.$spacing-05;
}

.paddedButtons {
  margin: layout.$spacing-07 layout.$spacing-05;
}

.filtersAppliedCount {
  padding: 0 layout.$spacing-03;
  background-color: $color-blue-60-2;
  color: $ui-01;
}

.refineSearchBannerFilterInfo {
  display: flex;
  justify-items: center;
  align-items: center;
  color: $ui-02;

  p {
    margin-left: layout.$spacing-03;
  }
}

.bodyShort01 {
  @include type.type-style('body-compact-01');
}

.label01 {
  @include type.type-style('label-01');
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}
