@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  border-bottom: 0.063rem solid $ui-03;
  background-color: $ui-02;
  display: grid;
  grid-template-columns: 1fr auto;
}

.patientBanner {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 1fr;
}

.patientName {
  @include type.type-style('heading-03');
  margin-right: 0.25rem;
  color: $ui-05;
}

.patientAvatar {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 1px;
}

.patientAvatarButton {
  cursor: pointer;
  border: none;
  padding: 0px;
  background: none;
}

.patientInfo {
  width: 100%;
  padding-right: 1rem;
}

.demographics {
  @include type.type-style('body-compact-02');
  color: $text-02;
  margin-top: 0.375rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.patientNameRow {
  margin-top: spacing.$spacing-05;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.identifiers {
  @include type.type-style('body-compact-02');
  color: $ui-04;
  margin-top: 0.375rem;
}

.tooltipPadding {
  padding: 0.25rem;
}

.tooltipSmallText {
  font-size: 80%;
}

.actionsButtonText {
  @include type.type-style('body-compact-01');
  color: $interactive-01;
}

:global(.cds--tooltip--definition .cds--tooltip__trigger) {
  border-bottom: none;
}
