@use '@carbon/styles/scss/spacing';

.wardView {
  background-color: #e4e4e4;
  position: absolute;
  top: spacing.$spacing-05;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 spacing.$spacing-05;
}

.wardViewMain {
  background-color: #e4e4e4;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: spacing.$spacing-05;
  padding: spacing.$spacing-05;
}

.errorStateWrapper {
  grid-column: span 3;
}

.wardViewHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: spacing.$spacing-05;
}
