@use '@carbon/layout';

.wardView {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  padding: 0 layout.$spacing-05;
}

.wardViewMain {
  background-color: #e4e4e4;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  display: grid;
  gap: layout.$spacing-05;
}
