@use '@carbon/styles/scss/spacing';

.wardView {
  background-color: #e4e4e4;
  position: absolute;
  top: var(--omrs-topnav-height);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 spacing.$spacing-05;
}

.wardViewHeader {
  margin: spacing.$spacing-05 0;
}

.wardViewMain {
  background-color: #e4e4e4;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  display: grid;
  gap: spacing.$spacing-05;
  padding: spacing.$spacing-05;
}
