@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.container {
  padding: spacing.$spacing-03;
}

.heading {
  @include type.type-style('body-compact-02');
  color: $ui-05;
  margin-bottom: spacing.$spacing-03;
}

.subHeading {
  @include type.type-style('label-01');
  color: $text-02;
  margin-bottom: spacing.$spacing-05;
}

.label {
  margin-bottom: spacing.$spacing-03;
  font: inherit;
}

.appointmentHistoryLabel {
  @include type.type-style('heading-compact-01');
  color: $color-blue-60-2;
  margin-bottom: spacing.$spacing-03;
}

.appointmentHistoryMissedLabel {
  @include type.type-style('heading-compact-01');
  color: $danger;
  margin-bottom: spacing.$spacing-03;
}

.tag {
  margin-bottom: spacing.$spacing-05;
}
