@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > section {
    display: flex;

    & > div {
      width: fit-content;
      margin: 0 spacing.$spacing-07 0 0;
    }
  }
}

.heading {
  @include type.type-style('body-compact-01');
  color: $ui-05;
  margin-bottom: spacing.$spacing-06;
  color: $text-02;
}

.subHeading {
  @include type.type-style('label-01');
  color: $text-02;
  margin-bottom: spacing.$spacing-05;
}

.label {
  color: $text-02;
  @include type.type-style('legal-02');
  margin: spacing.$spacing-04 0;
}

.labelPrimary {
  color: colors.$blue-60;
  @include type.type-style('body-compact-02');
  margin: spacing.$spacing-05 0;
}

.labelDanger {
  color: colors.$red-60;
  @include type.type-style('body-compact-02');
  margin: spacing.$spacing-05 0;
}

.historyTitle {
  color: $text-02;
  @include type.type-style('legal-01');
}

.tag {
  margin-bottom: spacing.$spacing-05;
}

.appointmentHistory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);

  & > div {
    display: flex;
    flex-direction: column;
  }
}
