@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";


.bodyShort02 {
  @include carbon--type-style("body-short-02");
}

.bodyLong01 {
  @include carbon--type-style("body-long-01");
}

.date {
  @include carbon--type-style('label-01');
  color: $text-02;
}

.visitType {
  @include carbon--type-style('productive-heading-02');
  color: $text-01;
}

.container {
  background-color: $ui-background;
  border: 1px solid $grey-2;
  padding: 1rem;
  margin: 1rem 0rem 1rem;
  width: 100%;
}

.tabs > :global(.bx--tab-content) {
  padding: 1rem 0rem !important;
}

.header::after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.visitContainer {
  background-color: $ui-background;
  display: grid;
  grid-template-columns: max-content auto;
  padding: 1rem 0rem;
}

.flexSections {
  display: flex;
}

.verticalTabs {
  margin: 1rem 0;

  &:global(.bx--tabs--scrollable .bx--tabs--scrollable__nav-item+.bx--tabs--scrollable__nav-item) {
    margin-left: 0rem;
  }
}

.verticalTabs > ul {
  flex-direction: column !important;
}

.desktopTabs {
  button {
    height: 32px;
  }
}

.tabletTabs {
  button {
    height: 48px;
  }
}

.tab > button {
  border-bottom: 0 !important;
  border-left: 3px solid $ui-03 !important;
}

.tab > button, .tab > button:focus, .tab > button:active {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.selectedTab > button {
  border-left: 3px solid var(--brand-03) !important;
  border-bottom: 0 !important;
  font-weight: 600 !important;
}

.tabContent {
  border-top: 1px solid $ui-03;
  padding: 1rem 0;
  width: 70%;
}