@use '../../styles/variables.scss' as var;

.daily-cell {
  position: relative;
  border-right: var.$border;
  border-left: var.$border;
  min-height: 50px;
  //  color: var.$primary-color;

  .day-time {
    white-space: nowrap;
    display: inline;
    position: absolute;
    top: -11px;
    left: 20;
    height: 22px;
    width: 30px;
  }

  &:nth-child(-n + 24) {
    border-top: var.$border;
    border-left: var.$border;
    left: 20px;
  }

  &:nth-child(24n) {
    border-bottom: var.$border;
  }
}
