@import '~@openmrs/esm-styleguide/src/vars';

.tabsContainer {
  :global(.cds--tabs__nav-item--selected) {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }
}

.tab {
  min-width: 8rem;

  &:active,
  &:focus {
    outline: none !important;
  }
}

.container {
  background-color: $ui-01;
}

.cardContainer {
  background-color: $ui-02;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  padding: 1rem;
}
