@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.widgetCard {
  border-top: 1px solid colors.$blue-20;
  background-color: $color-blue-10;
  padding: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-03;
}

.title {
  @include type.type-style('productive-heading-01');
  color: $text-02;
  margin-bottom: spacing.$spacing-02;
}

.subtitle {
  color: $text-02;
  @include type.type-style('body-short-01');
}

.content {
  @include type.type-style('productive-heading-01');
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-03;
}

.tile {
  text-align: center;
}
