@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.heading {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.container {
  background-color: $color-blue-10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid $color-blue-20;
  margin-top: spacing.$spacing-01;

  & > div {
    margin-left: spacing.$spacing-05;
    padding-top: spacing.$spacing-01;
  }

  & > div:first-child {
    border-right: 1px solid $carbon--blue-20;
  }

  & ul > li {
    padding: spacing.$spacing-02 0;
    color: $text-02;
    @include type.type-style('body-compact-01');
  }
}
