@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  border-bottom: 0.0125rem solid $color-gray-30;
  background-color: $ui-02;
  padding: 0;
}

.patientInfoContainer {
  background-color: $ui-02;
  padding: 0 0 0 spacing.$spacing-05;
  display: flex;
  align-items: center;
  min-height: 7rem;
}

.activePatientInfoContainer {
  background-color: $color-blue-10;
  padding: 0 0 0 spacing.$spacing-05;
  display: flex;
  align-items: center;
  min-height: 7rem;
}

.patientName {
  @include type.type-style('heading-03');
}

.patientInfoContent {
  margin: spacing.$spacing-05 0 0 spacing.$spacing-05;
  width: 100%;
}

.demographics {
  @include type.type-style('body-compact-02');
  color: $text-02;
  margin-top: spacing.$spacing-02;
}

.identifier {
  @include type.type-style('body-compact-02');
  color: $ui-04;
}

.patientInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > button {
    min-height: 2rem;
  }
}

.patientEditBtn {
  color: $ui-05;
  margin: spacing.$spacing-03;
}
