@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.homeAppointmentsContainer {
  background-color: $ui-background;
  border: 1px solid $ui-03;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
  margin-top: spacing.$spacing-09;
  margin-bottom: spacing.$spacing-12;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
  background-color: $ui-background;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.tableContainer section {
  position: relative;
}

.hiddenRow {
  display: none;
}

.tableContainer {
  a {
    text-decoration: none;
  }

  th {
    color: $text-02;
  }

  :global(.cds--data-table) {
    background-color: $ui-03;
  }

  :global(.cds--table-column-menu) {
    button {
      position: static;
    }
  }
  .tableToolbar {
    min-height: 0;
    top: -22px;
  }
  .tableToolbarContent {
    height: spacing.$spacing-07;
    margin-bottom: spacing.$spacing-02;
  }
}
.tableToolbar {
  min-height: 0;
  top: -22px;
}

.startTime {
  font-weight: 700;
  margin-right: spacing.$spacing-03;
}
.nameContainer {
  display: flex;
}
.serviceContainer {
  display: flex;
}
.identifier {
  font-weight: 700;
}
.actionButton {
  position: static;
  padding: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-03 0;
}
.serviceColor {
  border-radius: 50%;
  margin-right: spacing.$spacing-03;
  width: spacing.$spacing-05;
  height: spacing.$spacing-05;
  background-color: $support-02;
}
.pagination {
  overflow: hidden;
}

.hiddenRow {
  display: none;
}

.emptyRow {
  padding: 0 spacing.$spacing-05;
  display: flex;
  align-items: center;
}

.expandedAppointmentsRow > td > div {
  max-height: max-content;
}

.expandedAppointmentsRow td {
  padding: 0 spacing.$spacing-07;
}

.expandedAppointmentsRow th[colspan] td[colspan] > div:first-child {
  padding: 0 spacing.$spacing-05;
}

.completeIcon,
.missedIcon,
.cancelIcon {
  width: 8rem;
  padding: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-03 0;
  display: flex;
  align-items: center;
  height: spacing.$spacing-09;

  svg {
    margin-left: spacing.$spacing-03;
  }
}

.completeIcon {
  color: $support-02;
  svg {
    fill: $support-02;
  }
}

.missedIcon {
  color: $carbon--red-50;
  svg {
    fill: $carbon--red-50;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-05;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;

    &:after {
      content: '';
      display: block;
      width: spacing.$spacing-07;
      padding-top: spacing.$spacing-02;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}

.emptyHeading {
  margin-left: 1rem;
  margin-top: 1rem;
}
.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.separator {
  @include type.type-style('body-compact-02');
  color: $text-02;
  width: 80%;
  margin: 1.5rem auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: $text-03;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5rem;
    margin-left: -50%;
  }

  &::after {
    left: 0.5rem;
    margin-right: -50%;
  }
}

.menuItemLink {
  text-decoration: none;
}

.seeAllLink {
  position: relative;
  left: 22rem;
  top: -8.5rem;
  min-height: 2rem;
  padding: 0.5rem;
}

.filterLabelContainer {
  display: flex;
}
.filterLabel {
  background-color: $ui-02;
  padding: 0.02rem 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  :hover {
    background-color: $ui-02;
  }
}
