@use '@carbon/layout';
@use '@carbon/type';

.modalContent {
  width: 100%;
  background-color: #f4f4f4;
}

.modalHeader {
  margin: layout.$spacing-05;
}

.patientListList {
  padding: 0 layout.$spacing-05;
}

.checkbox {
  padding-bottom: 0.875rem;
}

.pagination {
  width: 100%;
  overflow: hidden;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.itemsCountDisplay {
  position: absolute;
  top: 0;
  left: layout.$spacing-05;
  height: layout.$spacing-09;
  display: flex;
  align-items: center;
  color: #525252;
}

.pagination > div:first-child {
  visibility: hidden;
  width: 0;
}

.buttonSet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.productiveHeading03 {
  @include type.type-style('heading-03');
}

.bodyLong01 {
  @include type.type-style('body-01');
}
