@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.medicationContainer {
  margin-bottom: spacing.$spacing-06;
}

.medicationRecord {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @include type.type-style('body-01');
  color: $text-02;
}

.medicationTile {
  width: 100% !important;
}

.bodyLong01 {
  @include type.type-style('body-01');
}

.bodyShort02 {
  @include type.type-style('body-compact-02');
}

.dosage {
  @include type.type-style('heading-compact-01');
  margin-left: spacing.$spacing-03;
}

.date {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.metadata {
  @include type.type-style('label-01');
  color: $text-02;
  margin: spacing.$spacing-02 0;
}

.label01 {
  @include type.type-style('label-01');
  color: $text-02;
  margin: spacing.$spacing-02 0;
}

.notesSubHeading {
  @include type.type-style('label-01');
  color: $text-02;
}

.notesContainer {
  margin: spacing.$spacing-05 0 spacing.$spacing-05;
}
