@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.medicationContainer {
  margin-bottom: $spacing-06;
}
.medicationRecord {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @include carbon--type-style('body-long-01');
  color: $text-02;
}

.medicationTile {
  width: 100% !important;
}

.bodyLong01 {
  @include carbon--type-style('body-long-01');
}

.bodyShort02 {
  @include carbon--type-style('body-short-02');
}

.dosage {
  @include carbon--type-style('productive-heading-01');
  color: $text-01;
  margin-left: $spacing-03;
}

.date {
  @include carbon--type-style('body-short-01');
  color: $text-02;
}

.metadata {
  @include carbon--type-style('label-01');
  color: $text-02;
  margin: $spacing-02 0;
}

.label01 {
  @include carbon--type-style('label-01');
  color: $text-02;
  margin: $spacing-02 0;
}
