@use '@carbon/type';
@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.bedLayout {
  position: relative;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid #42be65;

  .bedPillow {
    background-color: #fff;
    border-radius: 3rem;
    border: 1px solid #42be65;
  }

  .bedNumber {
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

.bedLayoutSelected {
  background-color: #42be65 !important;
  color: #fff !important;
  border: 5px solid #e4e1c9 !important;
  opacity:1 !important;
}

;

.bedInfoMain {
  display: flex;
  align-self: center;
}

.bedInfoContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  border-bottom: 1px solid #a8a8a8;
}

.bedInfoText {
  align-self: center;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.errorContainer {
  width: 90%;
  position: absolute;
}

.loadingContainer {
  position: absolute;
  margin: spacing.$spacing-02 spacing.$spacing-05 0;
}

.bed {
  height: 60px;
  width: 8rem;
}

.pillow {
  width: 10px;
  height: 40px;
}

.available {
  background-color: #fff;
  color: #525252;
  opacity: 1;
  pointer-events: auto;
}

.occupied {
  background-color: #42be65;
  color: #fff;
  opacity: 0.5;
  pointer-events: none;
}

.minOccupied {
  height: 1.5rem;
  width: 2.5rem;
  color: #fff;
  background-color: rgb(66, 190, 101);
  padding: 0 6px;
  border-radius: 5px;
  pointer-events: none;
}

.minAvailable {
  height: 1.5rem;
  width: 2.5rem;
  color: none;
  background-color: #fff;
  padding: 0 6px;
  border-radius: 5px;
  pointer-events: none;
}

.minPillow {
  width: 7px;
  height: 1rem;
}