@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../../root.scss';

.desktopOverlay {
  position: fixed;
  top: spacing.$spacing-09;
  right: 0;
  height: 100vh;
  width: 26.25rem;
  background-color: $ui-01;
  border-left: 1px solid $text-03;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  z-index: 999;
}

.tabletOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: $ui-01;
  overflow: hidden;
  padding-top: spacing.$spacing-09;
  display: grid;
  grid-template-rows: 1fr auto;
}

.tabletOverlayHeader {
  button {
    @include brand-01(background-color);
  }
  .headerContent {
    color: $ui-02;
  }
}

.desktopHeader {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: $ui-03;
  border-bottom: 1px solid $text-03;
}

.headerContent {
  @include type.type-style('heading-compact-02');
  align-items: center;
  border: 0.125rem solid transparent;
  color: $ui-05;
  outline: none;
  padding: 0 2rem 0 1rem;
  text-decoration: none;
  user-select: none;
  vertical-align: center;
}

.closeButton, .closeButton:hover {
  background-color: #fff;
  svg {
    fill: black !important;
  }
}

.overlayContent {
  overflow-y: auto;
}

.buttonsGroup {
  align-self: end;
}

.buttonsGroup button {
  max-width: unset !important;
}
