@use '@carbon/layout';
@use '@carbon/type';

.activeVisitsContainer {
  background-color: $ui-background;
  border: 1px solid $ui-03;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
}

.activeVisitsDetailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-04 0 layout.$spacing-04 layout.$spacing-05;
  background-color: $ui-background;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.tableContainer section {
  position: relative;
}

.tableContainer a {
  text-decoration: none;
}

.tableContainer {
  :global(.cds--data-table) {
    background-color: $ui-03;
  }
}

.pagination {
  overflow: hidden;
}

.hiddenRow {
  display: none;
}

.emptyRow {
  padding: 0 layout.$spacing-05;
  display: flex;
  align-items: center;
}

.visitSummaryContainer {
  width: 100%;
  max-width: 768px;
  margin: layout.$spacing-05 auto;
}

.expandedActiveVisitRow > td > div {
  max-height: max-content !important;
}

.expandedActiveVisitRow td {
  padding: 0 layout.$spacing-07;
}

.expandedActiveVisitRow th[colspan] td[colspan] > div:first-child {
  padding: 0 layout.$spacing-05;
}

.action {
  margin-bottom: layout.$spacing-03;
}

.content {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: layout.$spacing-05;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;

    &:after {
      content: '';
      display: block;
      width: layout.$spacing-07;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}

.tile {
  text-align: center;
}

.bodyLong01 {
  @include type.type-style('body-01');
}
