@import "../style.scss";

.patientListBanner {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}

.leftBannerSection {
  padding: 1rem;
}

.secondaryText {
  color: #525252;
}
