.modalBody {
  overflow: visible; // make the dropdown pop-up not clip

  .appointmentsList {
    list-style-type: disc;
    margin-inline-start: 2rem;
  }

  .statusDropdown {
    button {
      background-color: #fff;
    }
  }
}
