@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  margin: spacing.$spacing-05 0rem;
  background-color: $ui-background;

  & section {
    margin: spacing.$spacing-02 spacing.$spacing-05 0;
  }
}

.heading {
  @include type.type-style('heading-03');
  margin: spacing.$spacing-05;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-05;
}

.dateTimeSection {
  display: flex;
}

.radioButton {
  margin: spacing.$spacing-05 0;
}

.headerGridRow {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.dataGridRow {
  display: grid;
  grid-template-columns: 50% 10% 1fr;
  margin: spacing.$spacing-03 spacing.$spacing-05;
  width: 100%;
}

.form {
  background-color: $ui-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
  margin-top: layout.$spacing-05;
}

.tablet {
  padding: spacing.$spacing-06 spacing.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

@media screen and (max-width: 600px) {
  .dateTimeSection {
    flex-direction: column;
  }
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: spacing.$spacing-03 0;
  padding: 0;
  @include type.type-style('body-compact-01');

  button {
    display: flex;

    svg {
      order: 1;
      margin-right: spacing.$spacing-03;
      margin-left: 0rem !important;
    }

    span {
      order: 2;
    }
  }
}
