@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../patient-registration/patient-registration.scss';

.fieldRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.subFieldRow {
  margin-bottom: 5px;
}

.label {
  @include type.type-style('label-01');
  color: $text-02;
}

.textID {
  margin-bottom: spacing.$spacing-05;
}

.requiredField {
  color: $danger;
}

.input {
  margin-right: 5px;
}

.checkboxField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  margin-left: 10px;
}

.textInput {
  width: 250px !important;
  height: 40px !important;
}

.numberInput {
  width: 200px !important;
  height: 40px !important;
}

.checkboxInput {
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin-top: 8px;
}

.selectInput {
  width: 150px !important;
  height: 40px !important;
}

.dateInput {
  width: 200px !important;
  height: 40px !important;
  font-size: large !important;
}

.telInput {
  width: 250px !important;
  height: 40px !important;
}

.errorInput {
  border: 2px solid $danger !important;
  padding-left: 0.875rem !important;
}

.errorMessage {
  color: $danger;
  align-self: center;
}

.dummyData {
  cursor: pointer;
  margin-left: 5px;
}

.IDInput {
  display: grid;
  grid-template-columns: 1fr auto;
}

.trashCan {
  color: $danger;
}

:global(.omrs-breakpoint-lt-desktop) {
  .IDInput {
    max-width: unset;
    width: 100%;
  }
}

.dangerLabel01 {
  @include type.type-style('label-01');
  color: $danger;
}
