@import "../../root.scss";
.productiveHeading02 {
    @include carbon--type-style("productive-heading-02");
    margin-bottom: 1rem;
}

.productiveHeading02Light {
    @include carbon--type-style("productive-heading-02");
    margin-bottom: 1rem;
    color: #525252;
}