@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
  margin-bottom: 1rem;
}

.productiveHeading02Light {
  @include type.type-style('heading-compact-02');
  margin-bottom: 1rem;
  color: #525252;
}

.label01 {
  @include type.type-style('label-01');
}

.grid {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
}

.halfWidthInDesktopView {
  width: calc(50% - spacing.$spacing-05);
}

.patientPhoto {
  display: flex;
  justify-content: center;
}

.nameField {
  grid-row: 1;
  grid-column: 1;
}

.nameField > :global(.cds--content-switcher) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  justify-content: flex-start;
}

.contentSwitcher {
  margin-bottom: 1rem;
}

.dobField > :global(.cds--content-switcher) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  justify-content: flex-start;
}

.dobField {
  :global(.cds--date-picker-input__wrapper) {
    max-width: 8.125rem;

    :global(.cds--date-picker__icon) {
      right: unset;
      left: 10.5rem;
    }
  }
}

.photoExtension {
  margin-bottom: 1rem;
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}

.sexField,
.dobField {
  margin-bottom: spacing.$spacing-05;
}

.dobContentSwitcherLabel {
  margin-bottom: spacing.$spacing-03;
}

.identifierLabelText {
  display: flex;
  align-items: center;
}

.setIDNumberButton {
  margin-bottom: spacing.$spacing-05;
}

.setIDNumberButton > svg {
  margin-left: spacing.$spacing-03;
}

.customField {
  margin-bottom: spacing.$spacing-05;
}

.attributeField {
  margin-bottom: spacing.$spacing-05;
}

.radioButton {
  padding-block: spacing.$spacing-03 !important;
}

:global(.omrs-breakpoint-lt-desktop) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .nameField {
    grid-row: 2;
    grid-column: 1;
  }
  .photoExtension {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  .halfWidthInDesktopView {
    width: 100%;
  }
}

.radioFieldError {
  color: #da1e28;
  display: block;
  font-weight: 400;
  max-height: 12.5rem;
  overflow: visible;
  font-size: 0.75rem;
  letter-spacing: 0.32px;
  line-height: 1.34;
  margin: 0.25rem 0 0;
}

.numberInput {
  width: 13.125rem;
}
