@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
  margin-bottom: 1rem;
}

.productiveHeading02Light {
  @include carbon--type-style("productive-heading-02");
  margin-bottom: 1rem;
  color: #525252;
}

.label01 {
  @include carbon--type-style("label-01");
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $spacing-05;
}

.halfWidthInDesktopView {
  width: calc(50% - $spacing-05);
}

.patientPhoto {
  display: flex;
  justify-content: center;
}

.nameField {
  grid-row: 1;
  grid-column: 1;
}

.nameField > :global(.bx--content-switcher) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  justify-content: flex-start;
}

.contentSwitcher {
  margin-bottom: 1rem;
}

.dobField > :global(.bx--content-switcher) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  justify-content: flex-start;
}

.photoExtension {
  margin-bottom: 1rem;
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}

.sexField, .dobField {
  margin-bottom: $spacing-05;
}

.dobContentSwitcherLabel {
  margin-bottom: $spacing-03;
}

.identifierLabelText {
  display: flex;
  align-items: center;
}

.setIDNumberButton {
  margin-bottom: $spacing-05;
}

.setIDNumberButton > svg {
  margin-left: $spacing-03;
}

:global(.omrs-breakpoint-lt-desktop){
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .nameField {
    grid-row: 2;
    grid-column: 1;
  }
  .photoExtension {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  .radioButton label {
    height: $spacing-09 !important;
  }
  .halfWidthInDesktopView {
    width: 100%;
  }
}

.radioFieldError {
  color: #da1e28;
  display: block;
  font-weight: 400;
  max-height: 12.5rem;
  overflow: visible;
  font-size: .75rem;
  letter-spacing: .32px;
  line-height: 1.34;
  margin: 0.25rem 0 0 ;
}
