@import 'carbon-components/scss/globals/scss/typography.scss';
@import '~@openmrs/esm-styleguide/src/vars';

.patientSearchResult {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $ui-03;
  padding: 0 $spacing-04;
}

.patientSearchResult:hover,
.patientSearchResult:focus {
  background-color: $ui-01;
}

.patientBanner {
  display: flex;
}

.patientName {
  @include carbon--type-style('productive-heading-02');
  color: $text-02;
}

.patientAvatar {
  width: $spacing-09;
  height: $spacing-09;
  margin: $spacing-03 $spacing-05 $spacing-03 0;
  border-radius: 1px;
}

.patientInfo {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: $spacing-05;
  cursor: pointer;
}

.demographics {
  margin-top: $spacing-03;
  @include carbon--type-style('body-short-01');
  color: $text-02;
}

.identifiers {
  @include carbon--type-style('body-short-02');
  color: $ui-04;
}

.actionsContainer {
  padding-top: $spacing-03;
  margin-top: $spacing-05;
}

.middot {
  margin: 0 $spacing-03;
}
