@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-05;
}

.section {
  margin: spacing.$spacing-03;
}

.sectionHidden {
  display: none;
}

.container {
  margin: spacing.$spacing-05;
}
