@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../style.scss';

.container {
  margin: 1rem 0;
}

.newListButton {
  width: fit-content;
  height: fit-content;
  margin: 1rem 0;
}

.dashboardContainer {
  display: flex;
  background-color: $ui-02;
}

.dashboard {
  height: 100%;
  width: 100%;
  background-color: $ui-02;
  height: calc(100vh - 3rem);
}

.tabs {
  grid-column: 'span 2';
}

.tablist {
  padding: 0 spacing.$spacing-05;
}

.tab {
  min-width: 8.875rem;

  &:active,
  &:focus {
    outline: 2px solid var(--brand-03) !important;
  }

  &[aria-selected='true'] {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }
}

.hiddenTabsContent,
.tabs .hiddenTabsContent {
  display: none;
}

.listsTableContainer {
  padding: spacing.$spacing-05;
  background-color: $ui-01;
  height: calc(100vh - 12rem);
}

.tableBody {
  background-color: $ui-01;
}

.tableCell,
.interactiveText01 {
  color: $interactive-01;
}

.desktopRow,
.desktopHeader {
  height: spacing.$spacing-07 !important;
}

.tabletRow,
.tabletHeader {
  height: spacing.$spacing-09 !important;
}

// Search Overlay
.searchOverlay {
  z-index: 1;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: $ui-04;
  opacity: 0.7;
}

.patientListResultsContainer {
  z-index: 1;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: $ui-01;
  padding: spacing.$spacing-05;
}

// Results Overlay

.resultCount {
  @include type.type-style('body-compact-01');
  color: $text-02;
  border-bottom: solid 1px #e0e0e0;
  padding: spacing.$spacing-04 0;
}

.patientListResultsTableContainer {
  margin: spacing.$spacing-03;
}

.starButton {
  :global(.cds--popover) {
    display: none;
  }
  :global(.cds--btn--ghost:not([disabled])) svg {
    fill: $interactive-01;
  }
}
