@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import './style.scss';

.desktopOverlay {
  position: fixed;
  right: 0;
  width: 37rem;
  top: spacing.$spacing-09;
  height: calc(100vh - 3rem);
  min-width: 27rem;
  background-color: $ui-01;
  border-left: 1px solid $text-03;
  display: grid;
  grid-template-rows: auto 1fr auto;
  bottom: 0;
  overflow-y: auto;
  z-index: 99999;
}

.tabletOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: $ui-01;
  overflow: hidden;
  padding-top: spacing.$spacing-09;
  display: grid;
  grid-template-rows: 1fr auto;
}

.tabletOverlayHeader {
  button {
    background-color: $brand-01 !important;
  }
  .headerContent {
    color: $ui-02;
  }
}

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $ui-03;
  border-bottom: 1px solid $text-03;
  height: 2.5rem;
}

.headerContent {
  @include type.type-style('heading-compact-02');
  padding: 0 spacing.$spacing-05;
  color: $ui-05;
}

.closeButton {
  border: none;
  border-bottom: 1px solid $text-03;
  background-color: $ui-02;
  padding-block-start: 0.75rem;
  // FIXME: Why are carbon's default button styles not working?
  height: 2.5rem;
  width: 2.5rem;
}

.overlayContent {
  padding: spacing.$spacing-05;
  overflow-y: auto;
}

:global(.omrs-breakpoint-lt-desktop) .overlayContent {
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .overlayContent {
  background-color: white;
}

.buttonsGroup {
  align-self: end;
}

.buttonsGroup button {
  max-width: unset !important;
}

:global(.omrs-breakpoint-lt-desktop) .buttonsGroup {
  padding: spacing.$spacing-06 spacing.$spacing-05;
  background-color: $ui-02;
}
