.appointmentBaseTable {
  td {
    & > div {
      height: fit-content;
      max-height: none !important;
    }
  }
}

.addAppointmentButton {
  min-height: 3rem;
  right: 0;
  min-height: 0;
  display: flex;
  justify-content: flex-end;
}
