.appointmentBaseTable {
  td {
    & > div {
      height: fit-content;
      max-height: none !important;
    }
  }
}

.addAppointmentButton {
  min-height: 2rem;
  margin-left: 82%;
  right: 0;
  margin-top: 2em;
  height: 2rem;
  min-height: 0;
}
