@use '../../styles/variables.scss' as var;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var.$header-height;
}
.workLoadCard {
  display: flex;
  color: var.$primary-color;
}
