@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.admittedPatientContainer {
  padding: spacing.$spacing-04;
  background-color: $ui-02;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $color-blue-60-2;
    > div:nth-child(2) {
      width: calc(100% + (2 * spacing.$spacing-04));
      margin-left: calc(-1 * spacing.$spacing-04);
    }
  }
}
