@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.tileContainer {
  border: 0.0625rem solid $ui-03;
  flex-grow: 1;
  height: 7.875rem;
  padding: 0 spacing.$spacing-05;
  margin: spacing.$spacing-03 spacing.$spacing-03;
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}

.headerLabel {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.totalsLabel {
  @include type.type-style('label-01');
  color: $text-02;
}

.totalsValue {
  @include type.type-style('heading-04');
  color: $ui-05;
}

.headerLabelContainer {
  display: flex;
  align-items: center;
  height: spacing.$spacing-07;
}

.link {
  text-decoration: none;
}

.patientListBtn {
  margin: $spacing-04 0 0 $spacing-03;
}
