
@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.activeVisitsListContainer {
  background-color: $ui-01;
  border: 1px solid #e0e0e0;
  width: 100%;
  margin-right: 0; 
}

.activeVisitsListHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.switcherContainer {
  display: flex;
  align-items: center;
}

.switcherContainer :global(.bx--content-switcher) {
  align-items: center;
}

.switch {
   width: 7.875rem;
   height: 2rem;
}

.priorityTag {
  @include carbon--type-style("label-01");
   color: #943d00;
   background-color: #ffc9a3;
}

.tag {
  @include carbon--type-style("label-01");
}

.tableOverflowmenu {
   display: flex;
   justify-content: space-between;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.contentSwitcherLabel {
  @include carbon--type-style("label-01");
  color: $text-02;
}

.tableContainer {
  margin: 0 1rem;
}

.tableContainer a {
  text-decoration: none;
}

.emptyRow {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.activeVisitsTable tr[data-parent-row]:nth-child(odd) td {
  background-color: #ffffff;
}

.activeVisitsTable tbody tr[data-parent-row]:nth-child(even)  td {
  background-color: #f4f4f4;
}

.expandedActiveVisitRow > td > div {
  max-height: max-content !important;
}

.expandedActiveVisitRow td {
  padding: 0 2rem;
}

.expandedActiveVisitRow th[colspan] td[colspan] > div:first-child {
  padding: 0 1rem;
}

.content {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-bottom: 0.5rem;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.desktopHeading {
  h4 {
    @include carbon--type-style('productive-heading-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include carbon--type-style('productive-heading-03');
    color: $text-02;
  }
}

.desktopHeading, .tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: $spacing-05;
  
  h4:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid $brand-teal-01;
  }
}

