@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.appointmentList {
  height: 100%;
  width: 100%;
}

.tabs {
  grid-column: 'span 2';
}

.calendarButton {
  float: right;
  margin-right: spacing.$spacing-05;
  position: absolute;
  right: 0;
  height: spacing.$spacing-07;
  min-height: 0;
}
