@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@import '../root.scss';

.appointmentList {
  margin: 1rem;

  & > div {
    background-color: $ui-02;
  }
}

.tabs {
  grid-column: span 2;
}

.tab {
  min-width: 12rem;

  &:active,
  &:focus {
    outline: 2px solid var(--brand-03) !important;
  }

  &[aria-selected='true'] {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }
}

.tabPanel {
  padding: 0;
  margin: 1rem;
}

.calendarButton {
  float: right;
  position: absolute;
  right: 0;
  height: spacing.$spacing-09;
  min-height: 0;
}

.downloadButton {
  margin: spacing.$spacing-05;
  & > button {
    border: 1px solid colors.$blue-60;
  }
}
.downloadLink {
  text-decoration: none;
  color: inherit;
}
