@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@import '../root.scss';

.appointmentList {
  height: 100%;
  width: 100%;

  & > div {
    background-color: $ui-02;
  }
}

.tabs {
  grid-column: 'span 2';
}

.calendarButton {
  float: right;
  position: absolute;
  right: 0;
  height: spacing.$spacing-09;
  min-height: 0;
}

.downloadButton {
  margin: spacing.$spacing-05;
  & > button {
    border: 1px solid colors.$blue-60;
  }
}
.downloadLink {
  text-decoration: none;
  color: inherit;
}
