@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.appointmentList {
  height: 100%;
  width: 100%;
  background-color: $ui-02;
}

.tabs {
  grid-column: 'span 2';
}

.calendarButton {
  float: right;
  margin-right: spacing.$spacing-05;
}
