@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.appointmentList {
  height: 100%;
  width: 100%;
  background-color: $ui-02;
}

.wrapper {
  margin: spacing.$spacing-05;
}

.heading {
  margin: spacing.$spacing-06;
  color: $ui-05;
}
