@import '../root.scss';

.dashboardContainer {
  display: -webkit-flex;
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
  background-color: white;
}

.dashboardContent {
  margin: 0;
  flex-basis: 75%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-y: auto;
  margin-left: 16rem;
  padding-left: 0;
  padding-right: 0;
  max-width: 100% !important;
}

@media (max-width: 1200px) {
  .dashboardContent {
    margin-left: 0;
  }
}
