@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../style.scss';

.flex {
  display: flex;
}

.patientListDetailsPage {
  display: grid;
  grid-template-columns: 1fr auto;
}

.cohortHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid $ui-03;
  padding: spacing.$spacing-05 0 spacing.$spacing-05 spacing.$spacing-05;
}

.marginTop {
  margin-top: spacing.$spacing-03;
}

.actionsButtonText {
  @include type.type-style('body-compact-01');
  color: $interactive-01;
}

.tableContainer {
  padding: 0 spacing.$spacing-05 spacing.$spacing-05;
}
