@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  display: flex;
  gap: spacing.$spacing-04;
  justify-content: center;
  align-items: center;
  border: 1px dashed $ui-04;
  padding: spacing.$spacing-03 spacing.$spacing-04;
}

.bedNumber {
  border-radius: 50%;
  background-color: $color-blue-10;
  color: $color-blue-60-2;
  @include type.type-style('heading-compact-01');
  padding: spacing.$spacing-02;
}

.emptyBed {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}
