@use '@carbon/styles/scss/type';
@use '@carbon/colors';

.container {
  margin: 1rem;
}

.header {
  margin-bottom: 1rem;
  & > h2 {
    @include type.type-style('heading-02');
    color: colors.$gray-100;
  }
}

.table {
  margin-top: 4px;
}