@import "../root.scss";
@import "~@openmrs/esm-styleguide/src/vars";

.searchResults {
  margin-top: 3rem;
  width: 100%;
  padding: 1rem;
  background: $ui-background;
  min-height: 100vh;
  position: relative;
}

.searchTerm {
  @include carbon--type-style("productive-heading-03");
  color: $text-01;
  margin-top: 0.375rem;
}

.resultsText {
  @include carbon--type-style("label-01");
  color: $text-02;
  border-bottom: 0.063rem solid $ui-03;
  padding: 0.5rem 0rem;
}

.patientSearchInput {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.patientSearchInput:focus {
  outline: 2px solid #ff832b;
}

.patientSearchInput::placeholder {
  color: var(--omrs-color-ink-medium-contrast);
}

.helperText {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 2.375rem;
}

.emptyResultText {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-top: 1rem;
  margin-bottom: 0.313rem;
}

.actionText {
  @include carbon--type-style("body-long-01");
  color: $text-02;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 4.688rem 0 1.5rem;
}

.patientSearchInput {
  width: 100%;
  top: 0;
}

.patientSearchInput {
  :global(.bx--search-input:focus) {
    outline: 2px solid #ff832b;
  }
}

.patientSearchInput input {
  width: 100vw;
}

:global(.omrs-breakpoint-gt-tablet) .patientSearchInput input {
  height: 2.75rem;
}
.patientSearch {
  width: 100%;
  display: flex;
}

.emptySearchResultsTile {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem 0rem;
}
