@import "../root.scss";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";

:global(.bx--side-nav){
  z-index: 0;
}

.searchResultsContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:$ui-02;
  padding: 0rem $spacing-05;
  overflow-y: auto;
}

:global(.omrs-breakpoint-lt-desktop) .searchResultsContainer{
  top: 6.25rem
}

:global(.omrs-breakpoint-gt-tablet) .searchResultsContainer {
  padding: 0;
  background-color:var(--omrs-color-bg-low-contrast);
  top: $spacing-09;
}

.searchResults {
  height: 100%;
  width: 100vw;
}

:global(.omrs-breakpoint-gt-tablet) .searchResults {
  width: 50vw;
}

.searchTerm {
  @include carbon--type-style("productive-heading-03");
  color: $text-01;
  margin-top: 0.375rem;
}

.resultsText {
  @include carbon--type-style("label-01");
  color: $text-02;
  border-bottom: 0.063rem solid $ui-03;
  padding: $spacing-03 0rem;

}

:global(.omrs-breakpoint-gt-tablet) .resultsText {
  margin: $spacing-05;
}



.helperText {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 2.375rem;
}

.emptyResultText {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-top: $spacing-05;
  margin-bottom: 0.313rem;
}

.actionText {
  @include carbon--type-style("body-long-01");
  color: $text-02;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 4.688rem 0 $spacing-06;
}

.emptySearchResultsTile {
  text-align: center;
  margin-top: $spacing-05;
  padding: $spacing-09 0rem;
}

:global(.omrs-breakpoint-gt-tablet) .emptySearchResultsTile {
  margin: $spacing-05;
  background-color: $ui-02;
}
