@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.patientSearchIconWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.patientSearchInput input:focus {
  outline: none;
}

// desktop mode styling
:global(.omrs-breakpoint-gt-tablet) .searchArea {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  border: 1px solid $carbon--orange-40;
  height: calc($spacing-08 - 0.25rem);
  max-width: 50vw;
}

// tablet mode styling
:global(.omrs-breakpoint-lt-desktop) .searchArea {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  border: $spacing-01 solid $carbon--orange-40;
  margin-right: $spacing-01;
  position: fixed;
  top: $spacing-09;
  right: 0;
  left: 0;
}

.searchIconButton {
  @include brand-01(background-color);
}

.activeSearchIconButton {
  @include brand-02(background-color);
}

.closeButton {
  @include brand-02(background-color);
}

.searchButton {
  background-color: $carbon--gray-80;
}
