@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid {
  margin: 0rem;
  padding: 0rem;
}

.row {
  margin: 0;

  :global(.bx--col) {
    :global(.bx--form-item) {
      &:not(:first-of-type):not(:last-of-type) {
        margin: 1rem 0;
      }
    }

    :global(.bx--fieldset) {
      margin: 0;
    }

    :global(.bx--date-picker__input) {
      min-width: fit-content;
    }
  }
}

.heading {
  @include carbon--type-style('productive-heading-02');
  color: $text-01;
  margin-bottom: 0.5rem;
}

.spacer {
  margin-top: 3rem;
  display: inline-block;
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0rem;
  padding: 0;

  button {
    display: flex;
    
    svg {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 0rem !important;
    }  

    span {
      order: 2;
    }
  }
}

.advancePatientSearchContainer {
  margin: 0 $spacing-05;

  & .backButton {
    margin: 0;
  }

  &>button {
    padding-left: 0;
  }
}


.label01 {
  @include carbon--type-style('label-01');
  color: $text-02;
  margin: $spacing-03 0;
}

.formTextInput {
  margin-bottom: $spacing-04;
}

.contentSwitcherContainer {
  display: flex;
  align-items: center;
  height: $spacing-09;

  & > span {
    @include carbon--type-style("productive-heading-01");
    color: $text-02
  }
}

.formTitle {
  font-weight: bold;
  @include carbon--type-style("productive-heading-02");
  margin-bottom: $spacing-02;
}

.fieldRangeSwitcher {
  width: 8rem;
  margin: 0 $spacing-03 0;
}

.genderSwitcher {
  width: 18rem;
  margin: 0.25rem 0 1rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - 6rem);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - 3rem);
  }
}
