@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.container {
  background-color: $ui-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh);
}

.grid {
  padding: 0;
}

.visitTile {
  margin: $spacing-05;

  &:global(.bx--tile--is-selected:focus) {
    background-color: $color-blue-10;
    color: $color-blue-10;
    border: 1px solid $color-blue-60-2;
    outline: none;
  }

  &:global(.bx--tile--is-selected:hover) {
    background-color: $color-blue-10;
    color: $color-blue-10;
    border: 1px solid $color-blue-60-2;
    outline: none;
  }

  &:global(.bx--tile--is-selected:hover .bx--tile__checkmark svg) {
    fill: $color-blue-60-2;
  }
}

.row {
  margin: 0 $spacing-05 $spacing-05 $spacing-05;
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: $spacing-03 0 $spacing-03 0rem;
  padding: 0;
  @include carbon--type-style('body-short-01');

  button {
    display: flex;

    svg {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 0rem !important;
    }

    span {
      order: 2;
    }
  }
}

.heading {
  @include carbon--type-style('body-long-02');
  color: $text-02;
  margin-left: 1.2rem;
}

.primaryText {
  @include carbon--type-style('productive-heading-02');
  color: $text-01;
}

.secondaryText {
  @include carbon--type-style('body-long-01');
  color: $text-02;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.text-divider {
  display: flex;
  align-items: center;
  margin: $spacing-06 25%;
  @include carbon--type-style('productive-heading-02');
  color: $text-02;
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: $text-03;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: $spacing-05;
}

.text-divider::after {
  margin-left: $spacing-05;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-03;
}

.prioritySwitcher {
  margin: $spacing-03 0 $spacing-03;
}
