@import "~@openmrs/esm-styleguide/src/vars";
@import "carbon-components/scss/globals/scss/typography.scss";

// TODO: Add to style-guide vars
$orange: #ff832b;

.patientSearchContainer {
  display: flex;
  align-items: center;
  margin: 0 0 $spacing-08 0;
}

.patientSearchInput {
  margin: 0;
}

.patientSearchInput input:focus {
  outline: none;
}

// tablet mode styling
:global(.omrs-breakpoint-lt-desktop) .patientSearchContainer {
  outline: $spacing-01 solid;
  outline-color: $orange;
  margin-top: $spacing-01;
}

.searchTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $spacing-06;
  justify-content: center;
  text-align: center;
}

:global(.omrs-breakpoint-lt-desktop) .searchTextContainer {
  margin: 0 7.125rem;
}

.tile {
  width: 100%;
}

.searchPatientText {
  @include carbon--type-style("productive-heading-01");
  margin: $spacing-04 0 $spacing-04;
  color: $text-02;
}

.bodyShort02 {
  @include carbon--type-style("body-long-01");
  color: $text-02;
}

.separator {
  color: $text-03;
  width: 80%;
  text-align: center;
  border-bottom: 0.063rem solid $text-03;
  line-height: 0.1em;
  margin: 3.5rem $spacing-06 0 $spacing-06;
}

.span {
  background: $ui-01;
  padding: 0 $spacing-08;
}

.advanceSearchButton {
  margin-top: $spacing-09;
}

.searchButton {
  background-color: $inverse-02;
}