@import 'carbon-components/scss/globals/scss/typography.scss';
@import '~@openmrs/esm-styleguide/src/vars';

.patientChart {
  text-decoration: none;
}

:global(.omrs-breakpoint-gt-tablet) .patientChart {
  background-color: $ui-02;
}

.container {
  & .patientBanner {
    background-color: red !important;
  }
}

.patientBanner {
  display: flex;
}

.patientName {
  @include carbon--type-style('productive-heading-03');
  color: $text-01;
}

.patientAvatar {
  width: $spacing-11;
  height: $spacing-11;
  margin: $spacing-05 $spacing-05 0;
  border-radius: 1px;
}

.patientInfo {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: $spacing-05 0;
  cursor: pointer;
}

.demographics {
  @include carbon--type-style('body-short-02');
  color: $text-02;
  margin: 0.3rem 0;
}

.identifiers {
  @include carbon--type-style('body-short-02');
  color: $ui-04;
}

.actionsContainer {
  padding-top: $spacing-03;
  margin-top: $spacing-05;
}

.sortingCriteriaSelect {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  @include carbon--type-style('body-short-02');
  width: 100%;

  :global(.bx--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.bx--list-box__menu-icon) {
    height: $spacing-05;
  }

  :global(.bx--list-box__menu) {
    left: -7.5rem;
  }

  :global(.bx--label) {
    margin-right: $spacing-02;
  }
}
