@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - layout.$spacing-11);
}

.grid {
  margin: 0 layout.$spacing-05;
  padding: 0;
}

.row {
  margin: 0;

  :global(.cds--col) {
    :global(.cds--form-item) {
      &:not(:first-of-type):not(:last-of-type) {
        margin: layout.$spacing-05 0;
      }
    }

    :global(.cds--fieldset) {
      margin: 0;
    }

    :global(.cds--date-picker.cds--date-picker--single .cds--date-picker__input) {
      width: layout.$spacing-13;
    }
  }
}

.heading {
  @include type.type-style('heading-compact-02');
  margin-bottom: layout.$spacing-03;
}

.spacer {
  margin-top: layout.$spacing-07;
  display: inline-block;
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: layout.$spacing-03 0;
  padding: 0;
  @include type.type-style('body-compact-01');

  button {
    display: flex;

    svg {
      order: 1;
      margin-right: layout.$spacing-03;
      margin-left: 0 !important;
    }

    span {
      order: 2;
    }
  }
}

.advancePatientSearchContainer {
  margin: 0 layout.$spacing-05;

  & .backButton {
    margin: 0;
  }

  & > button {
    padding-left: 0;
  }
}

.label01 {
  @include type.type-style('label-01');
  color: $text-02;
  margin: layout.$spacing-03 0;
}

.formTextInput {
  margin-bottom: layout.$spacing-04;
}

.contentSwitcherContainer {
  display: flex;
  align-items: center;
  height: layout.$spacing-09;
  margin-bottom: layout.$spacing-05;

  & > span {
    @include type.type-style('heading-compact-01');
    color: $text-02;
  }
}

.formTitle {
  font-weight: bold;
  @include type.type-style('heading-compact-02');
  margin-bottom: layout.$spacing-02;
}

.fieldRangeSwitcher {
  width: 8rem;
  margin: 0 layout.$spacing-03 0;
}

.genderSwitcher {
  width: 18rem;
  margin: layout.$spacing-02 0 layout.$spacing-05;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
  margin-top: layout.$spacing-05;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - layout.$spacing-11);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - layout.$spacing-09);
  }
}

.input {
  width: 13.5rem;
}
