@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

.grid {
  margin: 0 1rem;
  padding: 0rem;
}

.row {
  margin: 0;

  :global(.cds--col) {
    :global(.cds--form-item) {
      &:not(:first-of-type):not(:last-of-type) {
        margin: 1rem 0;
      }
    }

    :global(.cds--fieldset) {
      margin: 0;
    }

    :global(.cds--date-picker.cds--date-picker--single .cds--date-picker__input) {
      width: 10rem;
    }
  }
}

.heading {
  @include type.type-style('heading-compact-02');
  margin-bottom: 0.5rem;
}

.spacer {
  margin-top: 2rem;
  display: inline-block;
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: spacing.$spacing-03 0;
  padding: 0;
  @include type.type-style('body-compact-01');

  button {
    display: flex;

    svg {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 0rem !important;
    }

    span {
      order: 2;
    }
  }
}

.advancePatientSearchContainer {
  margin: 0 spacing.$spacing-05;

  & .backButton {
    margin: 0;
  }

  & > button {
    padding-left: 0;
  }
}

.label01 {
  @include type.type-style('label-01');
  color: $text-02;
  margin: spacing.$spacing-03 0;
}

.formTextInput {
  margin-bottom: spacing.$spacing-04;
}

.contentSwitcherContainer {
  display: flex;
  align-items: center;
  height: spacing.$spacing-09;
  margin-bottom: spacing.$spacing-05;

  & > span {
    @include type.type-style('heading-compact-01');
    color: $text-02;
  }
}

.formTitle {
  font-weight: bold;
  @include type.type-style('heading-compact-02');
  margin-bottom: spacing.$spacing-02;
}

.fieldRangeSwitcher {
  width: 8rem;
  margin: 0 spacing.$spacing-03 0;
}

.genderSwitcher {
  width: 18rem;
  margin: 0.25rem 0 1rem;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
  margin-top: spacing.$spacing-05;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .form {
    height: calc(100vh - 6rem);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .form {
    height: calc(100vh - 3rem);
  }
}

.input {
  width: 13.5rem;
}
