@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.searchboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: layout.$spacing-05;
}

.searchboxLayer {
  flex-grow: 1;
}

.tileContainer {
  :global(.omrs-breakpoint-gt-tablet) & {
    margin: 0 layout.$spacing-06 0;
  }

  :global(.omrs-breakpoint-lt-desktop) & {
    width: 60%;
    margin: auto;
  }
}

.tile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: layout.$spacing-07 0 layout.$spacing-06;
  text-align: center;
  border: 1px solid $ui-03;
}

.helperText {
  margin-top: 1.25rem;
  color: $text-02;

  .primaryText {
    @include type.type-style('heading-compact-01');
  }

  .secondaryText {
    width: 12rem;
    margin-top: layout.$spacing-02;
    @include type.type-style('body-01');
  }
}

.separator {
  @include type.type-style('heading-03');
  color: $text-02;
  width: 12rem;
  margin: layout.$spacing-09 auto;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    background-color: $text-03;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: layout.$spacing-05;
    margin-left: -50%;
  }

  &::after {
    left: layout.$spacing-05;
    margin-right: -50%;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultsContainer {
  height: 100vh;
}

.lightBackground {
  @extend .resultsContainer;
  background-color: white;
}

.loadingContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    width: fit-content !important;
  }
}

.helperText {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 2.375rem;
}

.resultsText {
  @include type.type-style('label-01');
  color: $text-02;
  border-bottom: 0.063rem solid $ui-03;
  padding: layout.$spacing-03 0;
}

.emptyResultText {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: layout.$spacing-05;
  margin-bottom: 0.313rem;
}

.actionText {
  @include type.type-style('body-01');
  color: $text-02;
}

.emptySearchResultsTile {
  text-align: center;
  margin-top: layout.$spacing-05;
  padding: layout.$spacing-09 0;
}

:global(.omrs-breakpoint-gt-tablet) .emptySearchResultsTile {
  background-color: $ui-02;
}
