@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";

.productiveHeading03 {
  @include carbon--type-style("productive-heading-03");
}

.bodyLong01 {
  @include carbon--type-style("body-long-01");
}

.bodyShort01 {
  @include carbon--type-style("body-long-01");
}

.bodyShort02 {
  @include carbon--type-style("body-long-02");
}

.label01 {
  @include carbon--type-style("label-01");
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: rgba(0,0,0,0.5);
  z-index: 9000;
  justify-items: center;
  align-items: center;
}
