@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.title {
  color: var(--omrs-color-brand-teal);
}

.submit {
  width: 250px;
}

.submit:hover {
  cursor: pointer;
}

.cancelButton {
  width: 11.688rem;
}

.submitButton {
  margin-bottom: spacing.$spacing-05;
  width: 11.688rem;
  display: block;
}

.infoGrid {
  width: 100%;
  padding-left: spacing.$spacing-07;
  margin-bottom: 40vh;
  margin-top: spacing.$spacing-05;
  max-width: 50rem;
}

.label01 {
  @include type.type-style('label-01');
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-05;
  color: $ui-04;
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
  color: $ui-04;
  cursor: pointer;
}

.space05 {
  margin: spacing.$spacing-05 0 spacing.$spacing-05 0;
}

.formContainer {
  display: flex;
  width: 100%;
}

.stickyColumn {
  position: sticky;
  margin-top: spacing.$spacing-05;
  // 3rem for the nav height and 1rem for top margin
  top: 4rem;
}

.touchTarget a:active {
  color: $color-gray-100;
}

.linkName {
  color: $color-gray-70;
  line-height: 1.38;
  font-size: spacing.$spacing-05;
  font-weight: 600;

  &:active {
    text-decoration: none;
    color: $color-gray-100;
  }

  &:hover {
    text-decoration: none;
    color: $color-gray-100;
    cursor: pointer;
  }
}

.main {
  background-color: white;
}

:global(.omrs-breakpoint-lt-desktop) {
  .infoGrid {
    max-width: unset;
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .linkName {
    & > svg {
      transform: scale(-1, 1);
    }
  }

  .infoGrid {
    padding-left: unset;
    padding-right: spacing.$spacing-07;
  }
}
