@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";
@import "~@openmrs/esm-styleguide/src/vars";

.title {
  color: var(--omrs-color-brand-teal);
}

.submit {
  width: 250px;
}

.submit:hover {
  cursor: pointer;
}

.cancelButton {
  width: 11.688rem;
}

.submitButton {
  margin-bottom: 1rem;
  width: 11.688rem;
  display: block;
}

.infoGrid {
  width: 100%;
  margin-bottom: 40vh;
  margin-top: 1rem;
}

.label01 {
  @include carbon--type-style("label-01");
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
  color: $ui-04;
}

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
  color: $ui-04;
  cursor: pointer;
}

.space05 {
  margin: $spacing-05 0 $spacing-05 0;
}

.formContainer {
  display: flex;
  width: 100%;
}

.stickyColumn {
  position: sticky;
  margin-top: 1rem;
  // 3rem for the nav height and 1rem for top margin
  top: 4rem;
}

.touchTarget a:active {
  color: $color-gray-100;
}

.linkName {
  color: $color-gray-70;
  line-height: 1.38;
  font-size: 1rem;
  font-weight: 600;

  &:active {
    text-decoration: none;
    color: $color-gray-100;
  }

  &:hover {
    text-decoration: none;
    color: $color-gray-100;
    cursor: pointer;
  }
}

.main {
  background-color: white;
}

