@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/type/styles";
@import "~carbon-components/src/globals/scss/vendor/@carbon/layout/scss/generated/spacing";
@import "~@openmrs/esm-styleguide/src/vars";

.title {
  color: var(--omrs-color-brand-teal);
}

.submit {
  width: 250px;
}

.submit:hover {
  cursor: pointer;
}

.cancelButton {
  width: 11.688rem;
}

.submitButton {
  margin-bottom: 1rem;
  width: 11.688rem;
  display: block;
}

.infoGrid {
  margin-bottom: 40vh;
  margin-top: 1rem;
}

.label01 {
  @include carbon--type-style("label-01");
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
  color: $ui-04;
}

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
  color: $ui-04;
  cursor: pointer;
}

.bodyLong02 {
  @include carbon--type-style("body-long-02");
  color: $ui-05;
}

.space03 {
  margin: $spacing-03 0 $spacing-03 0;
}

.space05 {
  margin: $spacing-05 0 $spacing-05 0;
}

.stickyColumn {
  position: sticky;
  margin-top: 1rem;
  // 3rem for the nav height and 1rem for top margin
  top: 4rem;
}

.touchTarget a:active {
  color: $color-gray-100;
}

.linkName {
  color: $color-gray-70;
  line-height: 1.38;
  font-size: 1rem;
  font-weight: 600;

  &:active {
    text-decoration: none;
    color: $color-gray-100;
  }

  &:hover {
    text-decoration: none;
    color: $color-gray-100;
    cursor: pointer;
  }
}

.main {
  background-color: white;
}

.formContainer {
  display: flex;
}

.overlay {
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: $ui-02;
  padding-bottom: 3rem;
}

.desktopOverlay {
  position: fixed;
  top: 3rem;
  width: 27rem;
  border-left: 1px solid $ui-01;
}

.fullScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
}

.patientIdentifierOverlayHeaderDesktop {
  background-color: $ui-03;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $ui-05;
  border-bottom: 1px solid $text-03;
}

.patientIdentifierOverlayHeaderDesktop h4 {
  padding: $spacing-03 0 $spacing-03 1rem;
  color: $ui-05;
}

.patientIdentifierOverlayHeaderDesktop button {
  padding: $spacing-03 !important;
  background-color: $ui-02 !important;
}

.patientIdentifierOverlayHeaderTablet {
  background-color: $brand-01;
  display: flex;
  align-items: center;
  color: $ui-02;
  border-bottom: 1px solid black;
}

.patientIdentifierOverlayHeaderTablet h4 {
  padding: $spacing-03 0 $spacing-03 1rem;
  color: $ui-02;
}

.patientIdentifierOverlayHeaderTablet button {
  padding: $spacing-03 !important;
  color: $ui-02;
}

.overlayContent {
  padding: 1rem;
  overflow-y: auto;
}

.revertButton {
  @include carbon--type-style("label-01");
  margin-top: $spacing-05;
  cursor: pointer;
}

.overlayButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlayButtons button {
  max-width: unset;
}

.radioGroup {
  margin-left: 1.625rem;
}

.errorLabel {
  color: #da1e28;
}