@import "../root.scss";

.activeVisitsContainer {
  background-color: $ui-background;
  border: 1px solid #e0e0e0;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
}

.activeVisitsDetailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.tableContainer section{
  position: relative;
}

.tableContainer a {
  text-decoration: none;
}

.pagination {
  overflow: hidden;
}

.emptyRow {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.visitSummaryContainer {
  width: 100%;
  max-width: 768px;
  margin: 1rem auto;
}

.expandedActiveVisitRow > td > div {
  max-height: max-content !important;
}

.expandedActiveVisitRow td {
  padding: 0 2rem;
}

.expandedActiveVisitRow th[colspan] td[colspan] > div:first-child {
  padding: 0 1rem;
}

.action {
  margin-bottom: $spacing-03;
}

.content {
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
  margin-top: $spacing-05;
  margin-bottom: $spacing-03;
}

.desktopHeading {
  h4 {
    @include carbon--type-style('productive-heading-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include carbon--type-style('productive-heading-03');
    color: $text-02;
  }
}

.desktopHeading, .tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: $spacing-05;
  
  h4:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 3px;
    border-bottom: 0.375rem solid $brand-teal-01;
  }
}

.tile {
  text-align: center;
  border: 1px solid $ui-03;
}