@import "../root.scss";

.activeVisitsContainer {
  background-color: $ui-background;
  width: 100%;
  border: 1px solid #e0e0e0;
}

.activeVisitsDetailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;
}

.skeletonContainer {
  padding: 0.5rem 1rem;
}

.skeletonContainer p {
  margin: 0;
}