@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.container {
  margin: 0rem 1rem;
}

.activeVisitsContainer {
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
}

.activeVisitsDetailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
  background-color: $ui-02;
}

.backgroundDataFetchingIndicator {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
}

.tableContainer section {
  position: relative;
}

.tableContainer a {
  text-decoration: none;
}

.pagination {
  overflow: hidden;

  &:global(.cds--pagination) {
    border-top: none;
  }
}

.hiddenRow {
  display: none;
}

.emptyRow {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.visitSummaryContainer {
  width: 100%;
  max-width: 768px;
  margin: 1rem auto;
}

.expandedActiveVisitRow > td > div {
  max-height: max-content !important;
}

.expandedActiveVisitRow td {
  padding: 0 2rem;
}

.expandedActiveVisitRow th[colspan] td[colspan] > div:first-child {
  padding: 0 1rem;
}

.action {
  margin-bottom: spacing.$spacing-03;
}

.content {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-top: spacing.$spacing-05;
  margin-bottom: spacing.$spacing-03;
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-05;

  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}

.tile {
  text-align: center;
  border-bottom: 1px solid $ui-03;
}

.filterEmptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$spacing-05;
  text-align: center;
}

.filterEmptyStateTile {
  margin: auto;
}

.filterEmptyStateContent {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.filterEmptyStateHelper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .activeVisitsContainer {
    .activeVisitsDetailHeaderContainer {
      padding: spacing.$spacing-04 spacing.$spacing-05 spacing.$spacing-04 0;
      h4 {
        text-align: right;
      }
    }
    div[role='search'] {
      & :first-child {
        svg {
          left: unset;
          right: spacing.$spacing-03;
        }
      }
      & :last-child {
        right: unset;
        left: 0;
      }
    }
    .tableContainer {
      th > div {
        text-align: right;
      }
      td {
        text-align: right;
        .serviceColor {
          margin-right: 0;
          margin-left: spacing.$spacing-03;
        }
        button {
          text-align: right;
        }
      }
    }
  }
}
