@import "../root.scss";

.activeVisitsContainer {
  background-color: $ui-background;
  border: 1px solid #e0e0e0;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
}

.activeVisitsDetailHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-04 0 $spacing-04 $spacing-05;
  background-color: $ui-background;
}

.productiveHeading02::after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid #007d79;
}

.tableContainer section{
  position: relative;
}

.tableContainer a {
  text-decoration: none;
}

.pagination {
  overflow: hidden;
}

.emptyRow {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
