@import "../style.scss";

.modalContent {
  width: 100%;
  max-width: 678px;
  background-color: #f4f4f4;
}

.modalHeader {
  margin: 1rem;
}

.patientListList {
  padding: 0 1rem;
}

.buttonSet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.largeButtons {
  padding-bottom: 2rem;
}

.checkbox {
  padding-bottom: 0.875rem;
}