@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.title {
  display: inline-flex;
  align-items: baseline;
  gap: layout.$spacing-03;
}

.location {
  color: $ui-05;
}

.subLocation {
  @include type.type-style('heading-03');
  font-weight: 400;
  color: $text-02;
}

.changeButton {
  min-height: unset;
  padding: 0 layout.$spacing-03;
}
