@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.errorMessage {
  @include type.type-style('heading-compact-02');

  margin-top: 2.25rem;
  margin-bottom: layout.$spacing-03;
}

.errorCopy {
  margin-bottom: layout.$spacing-03;
  @include type.type-style('body-01');
  color: colors.$gray-70;
}

.desktopHeading {
  h2 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;
  }
}

.tabletHeading {
  h2 {
    @include type.type-style('heading-03');
    color: colors.$gray-70;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: layout.$spacing-05;

  h2:after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.tile {
  text-align: center;
  border: 1px solid colors.$gray-20;
}
