@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.cardContainer {
  background-color: $ui-02;
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-02 $spacing-05 $spacing-03;
  flex-flow: row wrap;
  margin-top: -$spacing-03;
}
