@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.tileContainer {
  border: 0.0625rem solid $ui-03;
  flex-grow: 1;
  height: 7.875rem;
  padding: 0 spacing.$spacing-04;
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}

.headerLabel {
  @include type.type-style('label-02');
  color: colors.$gray-70;
}

.totalsLabel {
  @include type.type-style('label-01');
  color: $text-02;
}

.totalsValue {
  @include type.type-style('heading-04');
  color: $ui-05;
}

.headerLabelContainer {
  display: flex;
  align-items: center;
  height: spacing.$spacing-07;
  justify-content: space-between;
  width: 100%;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.metricsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.countGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: flex-end;
  column-gap: spacing.$spacing-03;
  & > span {
    font-size: 0.625rem !important;
    margin: 0;
    color: colors.$gray-70;
  }

  & > p {
    margin: 0;
  }
}
