@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.tileContainer {
  border: 0.0625rem solid $ui-03;
  flex-grow: 1;
  height: 7.875rem;
  padding: 0 spacing.$spacing-05;
  margin: spacing.$spacing-03 spacing.$spacing-03;
}
.tilelabelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}
.arrivedLabelContainer {
  display: flex;
  padding: spacing.$spacing-05;
  justify-content: space-around;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}
.notArrived {
  width: spacing.$spacing-09;
  height: spacing.$spacing-05;
  margin: spacing.$spacing-06 spacing.$spacing-05 spacing.$spacing-07 spacing.$spacing-08;
  font-family: Helvetica;
  font-size: spacing.$spacing-04;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: spacing.$spacing-01;
  letter-spacing: spacing.$spacing-01;
  color: #525252;
}
.notArrivedNumber {
  width: spacing.$spacing-06;
  height: spacing.$spacing-08;
  margin: spacing.$spacing-03 spacing.$spacing-05 0 spacing.$spacing-11;
  font-family: Helvetica;
  font-size: spacing.$spacing-05;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #da1e28;
}

.arrivedNumber {
  width: spacing.$spacing-07;
  height: spacing.$spacing-08;
  margin: spacing.$spacing-03 spacing.$spacing-06 0 spacing.$spacing-04;
  font-family: Helvetica;
  font-size: spacing.$spacing-05;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #319227;
}

.arrived {
  width: spacing.$spacing-07;
  height: spacing.$spacing-05;
  margin: spacing.$spacing-05 spacing.$spacing-06 spacing.$spacing-07 spacing.$spacing-03;
  font-family: Helvetica;
  font-size: spacing.$spacing-04;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: $text-02;
}
.testtotalsValue {
  @include type.type-style('heading-04');
  color: $ui-05;
}
.secondtilelabelContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 spacing.$spacing-05;
  margin: spacing.$spacing-03 spacing.$spacing-03;
}
.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}

.headerLabel {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}
.totalsLabel {
  width: spacing.$spacing-09;
  height: spacing.$spacing-05;
  font-family: IBMPlexSans;
  font-size: spacing.$spacing-04;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $text-02;
}
.totalsValue {
  @include type.type-style('heading-04');
  width: spacing.$spacing-09;
  height: spacing.$spacing-08;
  margin: spacing.$spacing-01 spacing.$spacing-06 spacing.$spacing-03 spacing.$spacing-04;
  font-family: IBMPlexSans;
  font-size: spacing.$spacing-07;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $ui-05;
}
.headerLabelContainer {
  display: flex;
  align-items: center;
  height: spacing.$spacing-07;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.viewListBtn {
  margin: spacing.$spacing-04 0 0 spacing.$spacing-03;
}
