@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.metricsContainer {
  display: flex;
  justify-content: space-between;
  background-color: $ui-02;
  height: spacing.$spacing-10;
  align-items: center;
  padding: 0 spacing.$spacing-05;
}

.metricsTitle {
  @include type.type-style('heading-03');
  color: $ui-05;
}
