@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.metricsContainer {
  display: flex;
  justify-content: space-between;
  background-color: $ui-02;
  height: spacing.$spacing-10;
  align-items: center;
  padding: 0 spacing.$spacing-05;
}

.metricsTitle {
  // @include type.type-style('heading-04');
  color: $ui-05;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.viewListBtn {
  margin: 0 0 0 spacing.$spacing-03;
}

.metricsContent {
  display: flex;
}
