@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.workspaceContent {
  padding: layout.$spacing-05;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #393939;
}

.patientWorkspaceBanner {
  margin: (-(layout.$spacing-05)) (-(layout.$spacing-05)) layout.$spacing-05 (-(layout.$spacing-05));
}

.contentSwitcher {
  margin-top: layout.$spacing-03;
}

.workspaceForm {
  margin-top: layout.$spacing-05;
  flex: 1;
}

.columnLabel {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  padding: layout.$spacing-02;
}

.buttonSet {
  display: flex;
  align-items: center;
  margin: ((layout.$spacing-05)) (-(layout.$spacing-05)) (-(layout.$spacing-05)) (-(layout.$spacing-05));

  button {
    max-width: unset !important;
    width: 50% !important;
  }
}
