@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.wrapper {
  background-color: $ui-02;
  padding: spacing.$spacing-06;
}

.grid {
  padding: 0 spacing.$spacing-06 spacing.$spacing-03;
  background-color: $ui-01;
  margin-bottom: spacing.$spacing-05;
}

.heading {
  color: $text-02;
  @include type.type-style('heading-compact-02');
  margin: spacing.$spacing-04 0 spacing.$spacing-04;
}

.radioButton {
  margin-top: spacing.$spacing-03;
}

.button {
  height: spacing.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.numberInputs {
  margin-top: spacing.$spacing-02;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tablet {
  padding: spacing.$spacing-06 spacing.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
  margin-top: spacing.$spacing-05;
}

.form {
  height: 100%;
}
