@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: layout.$spacing-12;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
  display: flex;
  justify-content: space-between;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  margin: layout.$spacing-03;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: layout.$spacing-05 0;

  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: layout.$spacing-02;
}

.value {
  margin-left: layout.$spacing-02;
}

.middot {
  margin: 0 layout.$spacing-03;
}

.view {
  @include type.type-style('label-01');
}

.datePicker {
  background-color: transparent;
  width: layout.$spacing-13;
  border: none;
  & > input {
    color: colors.$blue-10;
  }
}

.dropdown {
  :global(.cds--list-box__field) {
    width: 14rem;
    overflow: hidden;
  }

  :global(.cds--dropdown--inline .cds--list-box__menu) {
    left: -(layout.$spacing-10);
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .date-and-location {
    & > svg {
      order: -1;
    }
    & > span:nth-child(2) {
      order: -2;
    }
  }
}
