@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.header {
  background-color: $ui-02;
  border-block: 1px solid $ui-03;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: layout.$spacing-03;
}

.rightJustifiedItems {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0.5rem 0 layout.$spacing-05;
  gap: layout.$spacing-01;
  :global(.cds--btn--primary) {
    padding-left: layout.$spacing-05 !important;
    padding-right: layout.$spacing-05 !important;
  }
  :global(.cds--btn--primary .cds--btn__icon) {
    position: static !important;
    margin-left: layout.$spacing-03 !important;
    flex-shrink: 0;
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .date-and-location {
    & > svg {
      order: -1;
    }
    & > span:nth-child(2) {
      order: -2;
    }
  }
}
