@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: spacing.$spacing-12;
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
}

.view {
  @include type.type-style('label-01');
}

.dropdown {
  :global(.cds--list-box__field) {
    width: 14rem;
    overflow: hidden;
  }

  :global(.cds--dropdown--inline .cds--list-box__menu) {
    left: -4rem;
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .date-and-location {
    & > svg {
      order: -1;
    }
    & > span:nth-child(2) {
      order: -2;
    }
  }
}
