@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../../root.scss';

.container {
  margin: 0 spacing.$spacing-05 spacing.$spacing-05;
}

.loaderContainer {
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:global(.omrs-breakpoint-lt-desktop) .form {
  margin-top: 3rem;
}

:global(.omrs-breakpoint-lt-desktop) .form {
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .form {
  background-color: $ui-02;
}

.columnLabel {
  display: block;
  margin: spacing.$spacing-03 0;
  @include type.type-style('heading-compact-02');
  color: $text-02;
}

.stickyFormHeader {
  position: sticky;
  top: spacing.$spacing-05;
  z-index: 10;
}

.row {
  display: flex;
  flex-direction: column;
  margin: spacing.$spacing-03 0;
}

.flexRow {
  @extend .row;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

.select {
  width: 90%;
  margin-right: 60%;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.timePickerInput {
  width: 8rem;
}

.datePickerInput {
  padding-bottom: 1rem;
}

.workLoadCard {
  display: flex;
  margin: 0 1rem;
  color: #525252;
}

.monthlyWorkLoadCard {
  color: #525252;
  display: flex;
  flex-wrap: wrap;
}

.workLoadContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 1rem;
}

.workLoadTitle {
  padding-top: spacing.$spacing-05;
  color: #525252;
  margin: 0 spacing.$spacing-05 spacing.$spacing-05 spacing.$spacing-05;
  @include type.type-style('legal-01');
  font-weight: 400;
}

.input {
  width: 13.5rem;
}

.hide {
  display: none;
}
