@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.wrapper {
  position: relative;
}
.monthly-calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0px, 1fr));
  grid-template-rows: repeat(6, minmax(0px, 1fr));
}
.backgroundColor {
  margin: 1px 0 0;
  transition: width 0.24s ease-in-out;
  padding: 0 2rem 0;
  position: relative;
  min-height: calc(100vh - 80px);
  background-color: colors.$white;
}
