@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.calendarTitle {
  padding: 0 spacing.$spacing-05;
  display: flex;
  justify-content: space-between;
  background-color: $ui-02;
  align-items: center;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 spacing.$spacing-05 0 0;
}

.structuredListWrapper {
  background-color: $ui-02;
}

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}

.bodyLong01 {
  @include type.type-style('body-01');
}
