@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.monthly-cell {
  border-left: 1px solid colors.$gray-20;
  border-bottom: 1px solid colors.$gray-20;
  background: colors.$white;
  color: colors.$black;
  padding: layout.$spacing-01;
  text-align: right;
  @include type.type-style('body-compact-02');

  &:nth-child(-n + 7) {
    border-top: 1px solid colors.$gray-20;
  }

  &:nth-child(7n) {
    border-right: 1px solid colors.$gray-20;
  }

  &-disabled {
    border-left: 1px solid colors.$gray-20;
    border-bottom: 1px solid colors.$gray-20;
  }
  &-disabled:last-child {
    border-right: 1px solid colors.$gray-20;
  }
}
.identifiers {
  @include type.type-style('body-compact-02');
  color: $ui-04;
  display: list-item;

  span:not(:first-child) {
    margin: 0rem 0.75rem;
  }
}
.identifierTag {
  display: flex;
  align-items: center;
}
.weekly-cell {
  position: relative;
  border-right: 1px solid colors.$gray-20;
  border-bottom: 1px solid colors.$gray-20;
  min-height: 120px;
  color: colors.$white;

  .week-time {
    display: none;
  }

  &:nth-child(-n + 8) {
    border-top: 1px solid colors.$gray-20;
  }

  &:first-child {
    border-top: none;
  }

  &:nth-child(8n + 1) {
    border-bottom: none;

    .week-time {
      white-space: nowrap;
      display: inline;
      color: colors.$white;
      position: absolute;
      top: -11px;
      height: layout.$spacing-06;
      width: layout.$spacing-07;
    }
  }
}

.currentData {
  margin: 2px;

  & > span {
    @include type.type-style('label-02');
  }
}

.greyBackground {
  background-color: #f5f2f2;
}

.serviceArea {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  text-align: left;
  margin: 0.125rem;
  @include type.type-style('label-02');
  color: #020f1b;
  cursor: pointer;

  & > span:first-child {
    text-align: left;
    text-overflow: ellipsis;
    width: layout.$spacing-06;
  }
}

.smallDesktop {
  height: 100px;
}

.largeDesktop {
  height: 150px;
}

.red {
  background-color: #952727;
  color: colors.$white;
  font-weight: bold;
  padding: 0.0125rem;
}

.yellow {
  background-color: #a3b40a;
  color: colors.$white;
  font-weight: bold;
  padding: 0.0125rem;
}

.blue {
  background-color: #0c3ab7;
  color: colors.$white;
  font-weight: bold;
  padding: 0.0125rem;
}

.green {
  background-color: #2e7f11;
  color: colors.$white;
  font-weight: bold;
  padding: 0.0125rem;
}
