@import '~@openmrs/esm-styleguide/src/vars';

.editIcon {
  background-color: transparent;

  & svg {
    fill: $color-blue-60-2;
    color: $color-blue-60-2;
  }
}

.editIcon:hover {
  background-color: transparent;
}
