@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.tag {
  margin: 0.25rem 0;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}
