@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tag {
  margin: layout.$spacing-02 0;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.orange {
  background-color: #ffc9a3;
}
