@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid colors.$blue-20;
  border-left: none;
  border-right: none;
  background-color: colors.$blue-10;
  padding: layout.$spacing-05;
}

.title {
  @include type.type-style('heading-compact-01');
  color: $text-02;
  margin-bottom: layout.$spacing-02;
}

.subtitle {
  color: $text-02;
  @include type.type-style('body-compact-01');
}

.content {
  @include type.type-style('heading-compact-01');
  background-color: colors.$blue-10;
  padding: layout.$spacing-05;
  border: 1px solid colors.$blue-20;
}

.tile {
  text-align: center;
}
