@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.productiveHeading01 {
  @include type.type-style('heading-compact-01');
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}

.bodyLong01 {
  @include type.type-style('body-01');
}

.label01 {
  @include type.type-style('label-01');
}
