@import "../../patient-registration.scss";

.contentSwitcher {
  display: flex;
}

.leftSwitch {
  border: 1px solid $ui-04;
  border-radius: $spacing-02 0 0 $spacing-02;
  color: $text-02;
  background-color: $ui-02;

}

.rightSwitch {
  border: 1px solid $ui-04;
  border-radius: 0 $spacing-02 $spacing-02 0;
  color: $text-02;
  background-color: $ui-02;
}

.activeSwitch {
  background-color: $color-blue-10;
  border-color: $color-blue-60-2;
  color: $color-blue-60-2;
}