@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@carbon/layout';

.patientBanner {
  display: flex;
}

.patientAvatar {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 1px;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .titleContent {
    margin-left: 1rem;
  }
}
