@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tabList {
  position: sticky;
  top: layout.$spacing-09;
  z-index: 10;
  box-shadow: inset 0 -2px 0 0 $ui-03;
}

.tab {
  height: 2.5rem;

  &:active,
  &:focus {
    outline: none !important;
  }

  &:global(.cds--tabs__nav-item--selected) {
    border-bottom-color: var(--brand-03);
  }
}
