@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.defaultQueueTable {
  margin: 1rem;
}

.container {
  border: 1px solid colors.$gray-20;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $ui-background;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  .filterSearch {
    margin-left: spacing.$spacing-05;
  }
}

.filterContainer {
  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }

  :global(.cds--dropdown--inline) :global(.cds--list-box__field) {
    min-width: 12rem;
  }
}

.statusContainer {
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }
}

.search {
  max-width: 16rem;
  display: inline;

  input {
    background-color: $ui-02 !important;
  }
}

.statusTableContainer {
  padding: layout.$spacing-05;
  background-color: $ui-01;
}

.statusTableHeader {
  padding: layout.$spacing-03 0;
}

.tableHeader {
  padding: 8px 0;
}

.tableContainer {
  background-color: $ui-01;
  // margin: 0 spacing.$spacing-05;
  padding: 0;

  a {
    text-decoration: none;
  }

  th {
    color: $text-02;
  }

  :global(.cds--data-table) {
    background-color: $ui-03;
  }

  .toolbarContainer {
    display: flex;
    justify-content: space-between;
  }

  .toolbarContent {
    display: flex;
    z-index: 1; // prevent dropdown from getting covered by table elements
  }

  :global(.cds--table-toolbar) {
    position: static;
    overflow: visible;
  }
}

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-05;

  h4:after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 3px;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.expandedActiveVisitRow {
  :global(.cds--tab-content) {
    padding: 0.5rem 0;
  }

  td {
    padding: 0.5rem;

    > div {
      max-height: max-content !important;
      background-color: $ui-02;
    }
  }

  th[colspan] td[colspan] > div:first-child {
    padding: 0 1rem;
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .headerContainer {
    svg {
      margin-left: 0;
      margin-right: spacing.$spacing-03;
    }
    h4 {
      text-align: right;
    }
  }
  .tableContainer {
    th > div {
      text-align: right;
    }
    td {
      text-align: right;
      .serviceColor {
        margin-right: 0;
        margin-left: spacing.$spacing-03;
      }
      button {
        padding: spacing.$spacing-03 0 spacing.$spacing-03 spacing.$spacing-05;
        text-align: right;
      }
    }
  }
}

.tabList {
  padding-left: spacing.$spacing-05;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 2rem 0;
  // margin: 0 spacing.$spacing-05;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
