@import "../style.scss";

.overflowMenu {
  width: auto !important;
  height: auto !important;
  padding: 1rem !important;
  color: #0f62fe !important;
}

.overflowMenuItemContainer {
  top: 3.125rem !important;
  min-width: initial !important;
  left: auto !important;
  right: 0 !important;
  background-color: #f4f4f4 !important;
}