@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: layout.$spacing-10;
}
.workLoadCard {
  display: flex;
  color: colors.$black;
  padding-left: 60px;
}
.tileContainer {
  height: layout.$spacing-10;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border: 1px solid colors.$gray-20;

  & > span {
    font-size: layout.$spacing-05;
    color: colors.$gray-70;
  }
}
.bold {
  font-weight: bold;
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: layout.$spacing-05;
}

.headerLabel {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}
.dayDate {
  display: inline-flex;
  flex-direction: column;
}
@media only screen and (min-width: 40px) {
  .dayDate {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 40px) {
  .dayDateColumn1 {
    border: 1px solid colors.$gray-20;
    width: 60px;
    height: 40px;
    display: inline-flex;
    padding: 0;
  }
}
.dayDateColumn2 {
  width: 100%;
  border: 1px solid colors.$gray-20;
  border-left: none;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}
