@use '@carbon/styles/scss/spacing';
@import '../../patient-registration.scss';

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.radioGroup {
  background-color: $ui-01;
  padding: spacing.$spacing-05;
}

.radioButton {
  margin: 0 !important;
  label {
    height: spacing.$spacing-07;
  }
}

:global(.omrs-breakpoint-lt-desktop) {
  .radioButton label {
    height: spacing.$spacing-09 !important;
  }
}
