@use '@carbon/styles/scss/spacing';
@import '../../patient-registration.scss';

.overlayButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlayButtons button {
  max-width: unset;
}

.radioGroup {
  background-color: $ui-01;
  padding: spacing.$spacing-05;
}

.radioButton {
  margin: 0 !important;
  label {
    height: spacing.$spacing-07;
  }
}

:global(.omrs-breakpoint-lt-desktop) {
  .radioButton label {
    height: spacing.$spacing-09 !important;
  }
}
