@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.container {
  display: flex;
  gap: layout.$spacing-04;
  justify-content: center;
  align-items: center;
  border: 1px dashed $ui-04;
  padding: layout.$spacing-03 layout.$spacing-04;
  height: fit-content;
}

.container:hover:not(.skeleton) {
  border: 1px solid transparent;
  box-shadow: inset 0px 0px 0px 2px $color-blue-60-2;
  cursor: pointer;
}

.emptyBed {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.skeletonText {
  width: 100px;
}
