@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars';

.occupiedBed {
  display: flex;
  flex-direction: column;
  background-color: vars.$ui-02;
}

.bedDivider {
  background-color: vars.$ui-02;
  color: vars.$text-02;
  padding: spacing.$spacing-01;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bedDividerLine {
  height: 1px;
  background-color: vars.$ui-03;
  width: 30%;
}
