@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars';

.unassignedPatient {
  display: flex;
  flex-direction: column;
  background-color: red;
}
