@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.calendarHeaderContainer {
  margin-bottom: layout.$spacing-03;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: layout.$spacing-05;
  flex-wrap: wrap;
  gap: layout.$spacing-03;

  & > p {
    @include type.type-style('heading-02');
  }

  & > button {
    color: colors.$blue-60;
    @include type.type-style('label-02');
  }
}

.titleContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  svg {
    order: 1;
    margin-right: layout.$spacing-03;
    margin-left: 0 !important;
  }

  span {
    order: 2;
  }
}

.viewSwitcher {
  display: flex;
  gap: layout.$spacing-02;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .titleContent {
    margin-left: layout.$spacing-05;
  }
}
