@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/colors';
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.patientSearchBar {
  width: 50vw;
  position: relative;
}

.floatingSearchResultsContainer {
  position: absolute;
  overflow-y: auto;
  box-shadow: 0 spacing.$spacing-03 spacing.$spacing-05 $ui-03;
  z-index: 99;
  border: 0 1px 1px 1px solid $ui-03;
  width: 100%;
  background-color: $ui-02;
}

.searchArea {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ui-04;
}

.patientSearchInput {
  border: none;
}

.patientSearchInput input:focus {
  outline: 1px solid 1px solid colors.$orange-40;
}
