@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../patient-registration/patient-registration.scss';

.productiveHeading {
  @include type.type-style('heading-compact-02');
}

.modalContent {
  width: 100%;
  background-color: $ui-01;
  padding: spacing.$spacing-05;
}

.modalSubtitle {
  @include type.type-style('body-compact-01');
}

.modalBody {
  @include type.type-style('body-compact-01');
  margin: spacing.$spacing-05 0;
}

.buttonSet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -(spacing.$spacing-05);
  margin-right: -(spacing.$spacing-05);
  margin-bottom: -(spacing.$spacing-05);
}

.buttonSet > button {
  max-width: unset !important;
}
