@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.productiveHeading {
  @include type.type-style('heading-compact-02');
}

.modalContent {
  width: 100%;
  background-color: $ui-01;
  padding: layout.$spacing-05;
}

.modalSubtitle {
  @include type.type-style('body-compact-01');
}

.modalBody {
  @include type.type-style('body-compact-01');
  margin: layout.$spacing-05 0;
}

.buttonSet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -(layout.$spacing-05);
  margin-right: -(layout.$spacing-05);
  margin-bottom: -(layout.$spacing-05);
}

.buttonSet > button {
  max-width: unset !important;
}
