@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.subHeading {
  @include type.type-style('label-01');
  color: var(--text-02);
}

.emptyText {
  padding: spacing.$spacing-05;
  @include type.type-style('body-02');
}

.unit {
  @include type.type-style('body-compact-01');
  color: var(--text-02);
  margin-left: spacing.$spacing-02;
}

.vitalValues {
  @include type.type-style('body-compact-01');
  color: $ui-05;
  margin-left: spacing.$spacing-02;
}

.grid {
  padding-left: 0;
}

.vitalValuesWrapper {
  display: flex;
  align-items: center;
}

.notification {
  fill: $danger;
}

.danger-icon {
  color: $danger;
  height: spacing.$spacing-02;
  width: spacing.$spacing-02;
  margin-left: spacing.$spacing-02;
}

.iconWrapper {
  margin-left: spacing.$spacing-02;
}

.critically-low,
.critically-high,
.low,
.high {
  &::after {
    @include type.type-style('heading-compact-01');
    color: $text-01;
  }
}

.low::after {
  content: ' ↓';
}

.critically-low::after {
  content: ' ↓↓';
}

.high::after {
  content: ' ↑';
}

.critically-high::after {
  content: ' ↑↑';
}

.bodyLong01 {
  @include type.type-style('body-long-01');
}
