@import '~@openmrs/esm-styleguide/src/vars';
@import '~carbon-components/src/globals/scss/vars';
@import '~carbon-components/src/globals/scss/mixins';

.subHeading {
  @include carbon--type-style('label-01');
  color: var(--text-02);
}

.emptyText {
  padding: $spacing-05;
  @include carbon--type-style('body-long-02');
  color: var(--text-01);
}

.unit {
  @include carbon--type-style('body-short-02');
  color: var(--text-01);
  margin-left: $spacing-02;
}

.vitalValues {
  @include carbon--type-style('body-short-01');
  color: $ui-05;
  margin-left: $spacing-02;
}

.grid {
  padding-left: 0;
}

.vitalValuesWrapper {
  display: flex;
  align-items: center;
}

.notification {
  fill: $danger;
}

.danger-icon {
  color: $danger;
  height: 0.25rem;
  width: 0.25rem;
  margin-left: $spacing-02;
}

.iconWrapper {
  margin-left: $spacing-02;
}

.critically-low,
.critically-high,
.low,
.high {
  &::after {
    @include carbon--type-style('productive-heading-01');
    color: $text-01;
  }
}

.low::after {
  content: ' ↓';
}

.critically-low::after {
  content: ' ↓↓';
}

.high::after {
  content: ' ↑';
}

.critically-high::after {
  content: ' ↑↑';
}
