@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;
@use '@carbon/colors';

.radioButtonGroup {
  width: 100%;

  :global(.cds--radio-button-wrapper) {
    padding-bottom: layout.$spacing-02;

    :global(.cds--radio-button__label) {
      align-items: center;
    }
  }
}

.tag {
  cursor: pointer;
  margin: 0;
}

.orange {
  background-color: colors.$orange-20;
}

section {
  margin: layout.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-04;
}

.queueEntryActionModalBody {
  padding-bottom: layout.$spacing-05;
}

.dateTimeFields {
  margin-top: layout.$spacing-04;
}
