@use '@carbon/styles/scss/spacing';
@import '../root.scss';

.formContainer {
  margin: spacing.$spacing-05;
}

.row {
  display: flex;
  margin: spacing.$spacing-03;
}

.select {
  width: 90%;
  margin-right: 60%;
}

.childRow {
  margin-left: spacing.$spacing-05;
}

.inputContainer {
  margin: spacing.$spacing-05;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.timePickerInput {
  width: 8rem;
}
