@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formContainer {
  margin: layout.$spacing-05;
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: colors.$white;
}

.desktop {
  padding-left: layout.$spacing-05;
}
.buttonContainer {
  max-width: 50%;
}
.inlineLoading {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
}
