name: Report bundle size

on:
  pull_request_target:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          minimum-change-threshold: 100 # bytes
          build-script: "lerna run build"
