name: E2E Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  testOnPR:
    if: ${{ github.event_name == 'pull_request' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy test environment variables
        run: cp example.env .env

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
        
      - name: Install dependencies
        run: yarn

      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps

      - name: Run dev server
        run: yarn start

      - name: Run E2E tests
        run: yarn playwright test --project=chromium

      - name: Upload Report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  testOnPush:
    if: ${{ github.event_name == 'push' }}
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy test environment variables
        run: cp example.env .env

      - name: Setup node 
        uses: actions/setup-node@v3
        with:
          node-version: 16
     
      - name: Install dependencies
        run: yarn

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      
      - name: Run db and web containers
        run: |
          cd e2e/support
          docker-compose up -d
    
      - name: Wait for OpenMRS instance to start
        run: while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' http://localhost:9000/openmrs/login.htm)" != "200" ]]; do sleep 10; done
      
      - name: Run dev server
        run: yarn start --backend "http://localhost:9000" &
    
      - name: Run E2E tests
        run: yarn playwright test

      - name: Upload report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
