@use '@carbon/colors';
@use '@carbon/type';

.container {
  background-color: colors.$white-0;
  height: calc(100vh - 3rem);
}

:global(.omrs-breakpoint-gt-tablet) .container {
  margin-left: var(--omrs-sidenav-width);
}
